schema/NRCV/NRCVPLB21H.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
   targetNamespace="http://www.lmonte.com/besm/NRCVPLB21H"
   xmlns="http://www.lmonte.com/besm/NRCVPLB21H"
   xmlns:d="http://www.lmonte.com/besm/d"
   xmlns:bld="http://www.lmonte.com/besm/bld"
   xmlns:env="http://www.lmonte.com/besm/env"
   xmlns:lit="http://www.lmonte.com/besm/lit"
   xmlns:hvac="http://www.lmonte.com/besm/hvac"
   xmlns:comp="http://www.lmonte.com/besm/comp"
   xmlns:com="http://www.lmonte.com/besm/com"
   xmlns:dtyp="http://www.lmonte.com/besm/dtyp"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:altova="http://www.altova.com/xml-schema-extensions"
   elementFormDefault="qualified" attributeFormDefault="unqualified" version="2019.1.000">
   <xsd:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   <xsd:element name="ComplianceDocumentPackage">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="DocID" minOccurs="0">
               <xsd:complexType>
                  <xsd:attribute name="doc" type="comp:ComplianceDocumentTag" fixed="NRCVPLB21H"/>
                  <xsd:attribute name="docType" type="comp:ComplianceDocumentType" fixed="CERTIFICATE OF VERIFICATION"/>
                  <xsd:attribute name="docTitle" type="comp:ComplianceDocumentTitleRes" fixed="HERS Verified High Rise Residential/Hotel/Motel Central Hot Water System Distribution"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Payload" type="comp:Payload"/>
            <xsd:element name="DocumentData">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Header" type="comp:HeaderCF2R_3R" />
                     <xsd:element ref="nRCVPLB21H" />
                     <xsd:element name="DocAuthor" type="comp:DocumentAuthor" />
                     <xsd:element name="RespPerson" type="comp:ResponsiblePersonNRCV" />
                     <xsd:element name="Footer" type="comp:Footer" />
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Report" type="xsd:base64Binary"/>
         </xsd:sequence>
         <xsd:attribute name="revision" use="required" type="xsd:string" fixed="rev 20181201"/>
         <xsd:attribute name="doc" use="required" type="comp:ComplianceDocumentTag" fixed="NRCVPLB21H"/>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="NRCVPLB21H">
      <xsd:annotation>
         <xsd:documentation>HERS Verified High Rise Residential/Hotel/Motel Central Hot Water System Distribution</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="Section_A" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">General Information</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_B" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Design HERS Verified Central Water Heating Systems Information</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">Require one row of data for each Central Water Heating System name.</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="B_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">This table reports the water heating system features that were specified on the NRCC-PRF-01 compliance document for this project.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableDesignSystem" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="B01_WaterHeatingSystemName" type="hvac:WaterHeatingSystemName" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Water Heating System ID or Name</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="B02_ResidentialWaterHeatingSystemType" type="hvac:ResidentialWaterHeatingSystemType" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Water Heating System Type</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input;  Allowed values are: DHW display term DHW, Hydronic display term Hydronic  and HydronicSpaceConditioningDHW display term Combined Hydronic</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="B03_ResidentialWaterHeaterType" type="hvac:ResidentialWaterHeaterType" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Water Heater Type</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User iselectsfrom list:  BoilerWaterHeater display text: Boiler, HeatPumpWaterHeater display text: Heat Pump,  IndirectWaterHeating display text:  Indirect, InstantaneousLarge display text: Large Instantaneous, InstantaneousSmall display text: Small Instantaneous, StorageLarge display text:Large Storage, StorageSmall display text:Small Storage, StorageCommercial display term: Commercial Storage, StorageResDutyCommercial display term: Residential-Duty Commercial Storage,   StorageConsumer display term: Consumer Storage, InstantaneousCommercial display term: Commercial Instantaneous, InstantaneousConsumer display term: Consumer Instantaneous,</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="B04_WaterHeaterTotalSystemCount" type="hvac:WaterHeaterTotalSystemCount" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText"># of Water Heaters in System</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input;</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="B05_StorageCapacity" type="hvac:StorageCapacity" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Water Heater Storage Volume (gal)</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input;  N/A which is stored in the NotApplicableMessage, is allowed If B04_ResidentialWaterHeaterType == InstantaneousLarge Or InstantaneousSmall</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="B05_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Water Heater Storage Volume (gal)</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input;  N/A which is stored in the NotApplicableMessage, is allowed If B04_ResidentialWaterHeaterType == InstantaneousLarge Or InstantaneousSmall</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:element name="B06_WaterHeaterFuelSource" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Fuel Type</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input; Allowed values are:  Electricity; NaturalGas; PropaneGas</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="hvac:WaterHeaterFuelSource">
                                             <xsd:enumeration value="Electricity"/>
                                             <xsd:enumeration value="NaturalGas"/>
                                             <xsd:enumeration value="PropaneGas"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="B07_WaterHeaterRatedInputUnits" type="hvac:WaterHeaterRatedInputUnits" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Rated Input Type</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If B03_ResidentialWaterHeaterType  == HeatPumpWaterHeater result = N/A stored in NotApplicableMessage; Else  Allowed values are:  If fuel type != Electricity result = BtuHr display term Btu/hr,  Else result = kW display term kW</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="B07_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Rated Input Type</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If B03_ResidentialWaterHeaterType  == HeatPumpWaterHeater result = N/A stored in NotApplicableMessage; Else  Allowed values are:  If fuel type != Electricity result = BtuHr display term Btu/hr,  Else result = kW display term kW</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="B08_WaterHeaterElectricFiredRatedInput" type="hvac:WaterHeaterElectricFiredRatedInput" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Rated Input Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If B03_ResidentialWaterHeaterType  == HeatPumpWaterHeater result = N/A stored in NotApplicableMessage; Else  User input;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="B08_WaterHeaterGasFiredRatedInput" type="hvac:WaterHeaterGasFiredRatedInput" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Rated Input Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If B03_ResidentialWaterHeaterType  == HeatPumpWaterHeater result = N/A stored in NotApplicableMessage; Else  User input;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="B08_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Rated Input Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If B03_ResidentialWaterHeaterType  == HeatPumpWaterHeater result = N/A stored in NotApplicableMessage; Else  User input;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:element name="B09_EfficiencyType" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Heating Efficiency Type</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input;  Allowed values are: AFUE, EnergyFactor, ThermalEfficiency, UniformEnergyFactor</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="hvac:EfficiencyType">
                                             <xsd:enumeration value="AFUE"/>
                                             <xsd:enumeration value="EnergyFactor"/>
                                             <xsd:enumeration value="ThermalEfficiency"/>
                                             <xsd:enumeration value="UniformEnergyFactor"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="B10_WaterHeaterAFUE" type="hvac:WaterHeaterAFUE" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Heating Efficiency Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="B10_EnergyFactor" type="hvac:EnergyFactor" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Heating Efficiency Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="B10_ThermalEfficiency" type="hvac:ThermalEfficiency" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Heating Efficiency Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="B10_UniformEnergyFactor" type="hvac:UniformEnergyFactor" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Heating Efficiency Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="B11_WaterHeatingStandbyLossPercent" type="hvac:WaterHeatingStandbyLossPercent" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Standby Loss (%)</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input value if ResidentialWaterHeaterType == StorageLarge; Else for all other types of water heaters ( StorageSmall, HeatPumpWaterHeater, BoilerWaterHeater, InstantaneousLarge , InstantaneousSmall, Consumer Instantaneous, Commercial Instantaneous, Residential-Duty Commercial Instantaneous, IndirectWaterHeating), result = N/A stored in the NotApplicableMessage</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="B11_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Standby Loss (%)</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input value if ResidentialWaterHeaterType == StorageLarge; Else for all other types of water heaters ( StorageSmall, HeatPumpWaterHeater, BoilerWaterHeater, InstantaneousLarge , InstantaneousSmall, Consumer Instantaneous, Commercial Instantaneous, Residential-Duty Commercial Instantaneous, IndirectWaterHeating), result = N/A stored in the NotApplicableMessage</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="B12_ExteriorTankInsulation" type="hvac:ExteriorTankInsulation" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Exterior Insul. R-Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input value If  B03_ResidentialWaterHeaterType != StorageLarge, StorageSmall, HeatPumpWaterHeater, BoilerWaterHeater, InstantaneousLarge , InstantaneousSmall, Consumer Instantaneous, Commercial Instantaneous Or Residential-Duty Commercial Instantaneous; Else result = N/A stored in the NotApplicableMessage</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="B12_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Exterior Insul. R-Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input value If  B03_ResidentialWaterHeaterType != StorageLarge, StorageSmall, HeatPumpWaterHeater, BoilerWaterHeater, InstantaneousLarge , InstantaneousSmall, Consumer Instantaneous, Commercial Instantaneous Or Residential-Duty Commercial Instantaneous; Else result = N/A stored in the NotApplicableMessage</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_C" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Installed HERS Verified Central Water Heating Systems Information</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">Require one row of data in this table for each of the Water Heating System listed in Section A</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="C_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">This table reports the water heating system features that were installed in this project.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableInstalledSystem" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="C01_WaterHeatingSystemName" type="hvac:WaterHeatingSystemName" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Water Heating System ID or Name</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference value from B01</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="C02_ResidentialWaterHeatingSystemType" type="hvac:ResidentialWaterHeatingSystemType" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Water Heating System Type</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference value from B02</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="C03_ResidentialWaterHeaterType" type="hvac:ResidentialWaterHeaterType" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Water Heater Type</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference value from B03</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="C04_WaterHeaterTotalSystemCount" type="hvac:WaterHeaterTotalSystemCount" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText"># of Water Heaters in System</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference value from B04</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="C05_StorageCapacity" type="hvac:StorageCapacity" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Water Heater Storage Volume (gal)</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input  or N/A stored in the NotApplicableMessage If ResidentialWaterHeaterType == InstantaneousLarge Or InstantaneousSmall</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C05_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Water Heater Storage Volume (gal)</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input  or N/A stored in the NotApplicableMessage If ResidentialWaterHeaterType == InstantaneousLarge Or InstantaneousSmall</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:element name="C06_WaterHeaterFuelSource" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Fuel Type</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference value from B06</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="hvac:WaterHeaterFuelSource">
                                             <xsd:enumeration value="Electricity"/>
                                             <xsd:enumeration value="NaturalGas"/>
                                             <xsd:enumeration value="Oil"/>
                                             <xsd:enumeration value="PropaneGas"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="C07_WaterHeaterRatedInputUnits" type="hvac:WaterHeaterRatedInputUnits" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Rated Input Type</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference value from B07</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="C08_WaterHeaterElectricFiredRatedInput" type="hvac:WaterHeaterElectricFiredRatedInput" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Rated Input Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from B08</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C08_WaterHeaterGasFiredRatedInput" type="hvac:WaterHeaterGasFiredRatedInput" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Rated Input Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from B08</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:element name="C09_EfficiencyType" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Heating Efficiency Type</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference value from B09</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="hvac:EfficiencyType">
                                             <xsd:enumeration value="AFUE"/>
                                             <xsd:enumeration value="EnergyFactor"/>
                                             <xsd:enumeration value="ThermalEfficiency"/>
                                             <xsd:enumeration value="UniformEnergyFactor"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="C10_WaterHeaterAFUE" type="hvac:WaterHeaterAFUE" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Heating Efficiency Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input value must be GTE B10</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C10_EnergyFactor" type="hvac:EnergyFactor" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Heating Efficiency Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input value must be GTE B10</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C10_ThermalEfficiency" type="hvac:ThermalEfficiency" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Heating Efficiency Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input value must be GTE B10</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C10_UniformEnergyFactor" type="hvac:UniformEnergyFactor" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Heating Efficiency Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input value must be GTE B10</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="C11_WaterHeatingStandbyLossPercent" type="hvac:WaterHeatingStandbyLossPercent" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Standby Loss (%)</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input value must be LTE B11;  If B11 for this system = N/A result = N/A stored in NotApplicableMessage</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C11_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Standby Loss (%)</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input value must be LTE B11;  If B11 for this system = N/A result = N/A stored in NotApplicableMessage</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="C12_ExteriorTankInsulation" type="hvac:ExteriorTankInsulation" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Exterior Insul. R-Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input value must be GTE B12;  If B12 for this system = N/A result = N/A stored in NotApplicableMessage</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C12_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Exterior Insul. R-Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input value must be GTE B12;  If B12 for this system = N/A result = N/A stored in NotApplicableMessage</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_D" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Design HERS Verified Water Heating Distribution Systems Information</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">If parent CF1F == prescriptive CF1R, all fields are N/A so this section is not displayed</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="D_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">This table reports the water heating system features that were specified on the NRCC-PRF-01 compliance document for this project.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableDesignDistribution" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="D01_WaterHeatingSystemName" type="hvac:WaterHeatingSystemName" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Water Heating System ID or Name</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference values in B01</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="D02_ResidentialDHWSystemDistributionType" type="hvac:ResidentialDHWSystemDistributionType" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Central DHW System Distribution Type</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input; Allowed values:  DemandControlNR,
NoControlContinuousPumping,  NoLoopsNoCentralPump, TemperatureModulationMonitoring, and TemperatureModulationNR</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="D03_ResidentialDHWDwellingUnitDistributionType" type="hvac:ResidentialDHWDwellingUnitDistributionType" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Dwelling Unit DHW System Distribution Type</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Auto-filled field: StandardDistribution display text: Standard distribution system;</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_E" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Installed HERS Verified Water Heating Distribution Systems Information</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="E_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Systems that utilize this distribution type shall comply with these requirements</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableInstalledDistribution" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="E01_WaterHeatingSystemName" type="hvac:WaterHeatingSystemName" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Water Heating System ID or Name</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference values in D01</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="E02_ResidentialDHWSystemDistributionType" type="hvac:ResidentialDHWSystemDistributionType" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Central DHW System Distribution Type</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference values in D02</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="E03_ResidentialDHWDwellingUnitDistributionType" type="hvac:ResidentialDHWDwellingUnitDistributionType" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Dwelling Unit DHW System Distribution Type</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference values in D03</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_F" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Installed Water Heater Manufacturer Information</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">Require one row of data in this table for each of the Water Heaters listed in A04</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="TableInstalledWaterHeater" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Systems that utilize this distribution type shall comply with these requirements</xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="F01_WaterHeatingSystemName" type="hvac:WaterHeatingSystemName" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Water Heating System ID or Name</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference from B01</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="F02_WaterHeaterManufacturer" type="hvac:WaterHeaterManufacturer" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Manufacturer</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input;</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="F03_WaterHeaterModelNumber" type="hvac:WaterHeaterModelNumber" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Model Number</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input;</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_G" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Mandatory Requirements For All Central Domestic Hot Water Systems</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="G01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">On systems that have a total capacity greater than 167,000 Btu/hr, outlets that require higher than service water temperatures as listed in the ASHRAE Handbook have separate remote heaters, heat exchangers, or boosters to supply the outlet with the higher temperature.  (Section 110.3 (c)1)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Systems with circulating pumps or with electrical heat trace systems shall be capable of automatically turning off the system.  (Section 110.3(c)2).</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G03" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Unfired storage tanks are insulated with [d:l t="*"] [d:list] External insulation of R-12, or [/d:list][d:list] Internal insulation of R-16, or  [/d:list][d:list] The heat loss of the tank surface based on an 80[d:deg/]F water-air temperature difference shall be less than 6.5 Btu/ft [d:sup]2[/d:sup]. (Section 110.3(c)3).[/d:list][/d:l]</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G04" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Recirculation loop shall meet the following requirements:  [d:l t="*"][d:list]The recirculation pump is mounted on a vertical section of the return line, OR an automatic air release valve is installed on a riser at least 12 inches in length, on the inlet side of the recirculation pump, no more than 4 feet from the pump. (Section 110.3(c)4A). [/d:list] [d:list] A check valve is located between the recirculation pump and the water heater. (Section 110.3(c)4B).[/d:list] [d:list] A hose bibb is installed between the pump and the water heating equipment with an isolation valve between the hose bibb and the water heating equipment.  (Section 110.3(c)4C). [/d:list] [d:list]Isolation valves are installed on both sides of the pump of which the valve required in (Section 110.3(c)4C can be one.  (Section 110.3(c)4D).[/d:list] [d:list] The cold water supply piping and the recirculation loop piping is not connected to the hot water storage tank drain port.  (Section 110.3(c)4E). [/d:list][d:list] A check valve is installed on the cold water supply line between the hot water system and the next closest tee on the cold water supply.  (Section 110.3(c)4F).   [/d:list][/d:l]</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G05" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Instantaneous water heaters with an input greater than 6.8 kBtu/hr. (2kW) shall have isolation valves at both the cold water supply and the hot water line (110.3(c)6).</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G06" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">All domestic hot water piping shall be insulated as specified in Section 609.11 of the California Plumbing Code.  In addition, the following piping conditions shall have a minimum insulation wall thickness of 1 inch or a minimum of insulation R-value of 7.7 (RA4.4.1) [d:l t="*"][d:list] The first 5 feet (1.5 meters) of hot and cold water pipes from the storage tank. [/d:list] [d:list] All piping with a nominal diameter of 3/4 inch (19 millimeter) and less than 1 inch. [/d:list] [d:list] All hot water pipes from the heating source to the kitchen fixtures. [/d:list] [d:list] Piping from the heating source to storage tank of between tanks. [/d:list] [d:list]  All piping associated with a recirculation system [/d:list] [d:list] All underground piping.  [/d:list] [/d:l] [d:line1/]   [d:l t="*"] [d:list] Insulation buried below grade must be installed in a waterproof and non-crushable casing or sleeve.[/d:list] [d:list] Piping that penetrates framing members shall not be required to have pipe insulation for the distance of the framing penetration.   Metal piping that penetrates metal framing shall use grommets, plugs, wrapping or other insulating material to assure that no contact is made with the metal framing. Insulation shall butt securely against all framing members.   [/d:list] [d:list] Piping installed in interior or exterior walls that is surrounded on all sides by at least 1 inch of insulation. [/d:list] [d:list] Piping installed in crawlspace with a minimum of 1 inch (5cm) of crawlspace insulation above and below. [/d:list] [d:list] Piping installed in attics with a minimum of 4 inches (10 cm) of attic insulation on top. [/d:list] [d:list] Pipe insulation shall fit tightly and all elbows and tees shall be fully insulated. [/d:list] [/d:l]</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G07_DoesSystemComplyWithRequirements" type="comp:DoesSystemComplyWithRequirements" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Verification Status:</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Display choices: Pass,  Fail  or N/A</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G08_SectionCorrectionNotes" type="comp:SectionCorrectionNotes"  minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Correction Notes:</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If DoesSystemComplyWithRequirements value is Fail, require that the reason is described in this field</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="GEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met unless otherwise noted in the Verification Status and the Corrections Notes in this table.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_H" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">HERS Verified Multiple Recirculation Loops for DHW systems Serving Multiple Dwelling Units Requirements</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="H_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">All distribution systems listed on this compliance document shall comply with these requirements.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="H01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">All buildings with 8 or more dwelling units have a [d:b]minimum[/d:b] of 2 recirculation loops.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="H02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Each loop roughly serves the same number of dwellings.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="H03_DoesSystemComplyWithRequirements" type="comp:DoesSystemComplyWithRequirements" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Verification Status:</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Display choices: Pass,  Fail  or N/A</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="H04_SectionCorrectionNotes" type="comp:SectionCorrectionNotes"  minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Correction Notes:</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If DoesSystemComplyWithRequirements value is Fail, require that the reason is described in this field</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="HEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met unless otherwise noted in the Verification Status and the Corrections Notes in this table.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_I" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Determination of HERS Verification Compliance</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="I_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">All applicable sections of this document shall indicate compliance with the specified verification protocol requirements in order for this Certificate of Verification as a whole to be determined to be in compliance.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="I01_DoesNRCV_Pass" type="comp:DoesNRCV_Pass" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If DoesSystemComplyWithRequirements in sections  G, H != Fail, then result = true.   display term  Complies: All specified verification protocol requirements on this document are met;  Else result = false   display term Does not comply: One or more specified verification protocol requirements on this document are not met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="nRCVPLB21H" type="NRCVPLB21H">
      <xsd:annotation>
         <xsd:documentation>This element contains all of the data and text required to generate the NRCVPLB21H compliance report.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
</xsd:schema>
