deployed/schema/CF3R/CF3RPLB21bH.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF3RPLB21bH" version="2019.1.000" xmlns="http://www.lmonte.com/besm/CF3RPLB21bH" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:bld="http://www.lmonte.com/besm/bld" xmlns:com="http://www.lmonte.com/besm/com" xmlns:comp="http://www.lmonte.com/besm/comp" xmlns:d="http://www.lmonte.com/besm/d" xmlns:dtyp="http://www.lmonte.com/besm/dtyp" xmlns:env="http://www.lmonte.com/besm/env" xmlns:hvac="http://www.lmonte.com/besm/hvac" xmlns:lit="http://www.lmonte.com/besm/lit" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   <xsd:complexType name="CF3RPLB21bH">
      <xsd:annotation>
         <xsd:documentation>HERS Verified Multifamily Central Hot Water System Distribution</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="Section_A" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">General Information</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="A01_BuildingName" type="com:BuildingName">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Building Name</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Reference value from CF1R</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_B" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Design HERS Verified Central Water Heater System Information</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">Prescriptive does not apply for heat pumps</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="B_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">This table reports the water heating systems specified on the registered CF1R compliance document for this project.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableDesignWaterHeater">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="B01_WaterHeatingSystemName" type="hvac:WaterHeatingSystemName">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Water Heating System ID or Name</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference values from CF1R -PRF-01 (see rule in section header)</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="B02_HeatPumpWaterHeaterModel" type="hvac:HeatPumpWaterHeaterModel">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Modeled Equipment Make and Model</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference values from CF1R-PRF-01.</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="B03_WaterHeaterTotalSystemCount" type="hvac:WaterHeaterTotalSystemCount">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Number of Water Heaters in System</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference values from CF1R-PRF-01.</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="B04_TankLocation" type="hvac:TankLocation">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Tank Location</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference values from CF1R-PRF-01</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="B05_ExteriorTankInsulation" type="hvac:ExteriorTankInsulation">
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Exterior Tank Insulation R-Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference values from CF1R-PRF-01 Else result = N/A stored in NotApplicableMessage</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="B05_NotApplicableMessage" type="comp:NotApplicableMessage">
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Exterior Tank Insulation R-Value</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:element name="B06_HeatPumpWaterHeaterSimulationGroup" type="hvac:HeatPumpWaterHeaterSimulationGroup">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Simulated Equipment Make and Model</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference values from XML   This field IS NOT part of the printed report and is not displayed to the user.  It is used for equivalency lookup</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_C" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Installed HERS Verified Central Water Heater System Information</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="C_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">This table reports the water heating systems specified on the registered CF1R compliance document for this project.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableInstalledWaterHeater">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="C01_WaterHeatingSystemName" type="hvac:WaterHeatingSystemName">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Water Heating System ID or Name</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference value from B01</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="C02_AOSmithHPTU50SimulationGroup" type="hvac:AOSmithHPTU50SimulationGroup">
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from B02_HeatPumpWaterHeaterModel as default and allow user to override with an equivalent system based on the simulated equipment in B06 as follows: Switch (A04_HeatPumpWaterHeaterSimulationGroup) case:  AOSmithHPTU50,  list = AOSmithHPTU50SimulationGroup values;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_AOSmithHPTU66SimulationGroup" type="hvac:AOSmithHPTU66SimulationGroup">
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from B02_HeatPumpWaterHeaterModel as default and allow user to override with an equivalent system based on the simulated equipment in B06 as follows: Switch (A04_HeatPumpWaterHeaterSimulationGroup) case: AOSmithHPTU66 list = AOSmithHPTU66SimulationGroup values;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_AOSmithHPTU80SimulationGroup" type="hvac:AOSmithHPTU80SimulationGroup">
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from B02_HeatPumpWaterHeaterModel as default and allow user to override with an equivalent system based on the simulated equipment in B06 as follows: Switch (A04_HeatPumpWaterHeaterSimulationGroup) case: AOSmithHPTU80 list =  AOSmithHPTU80SimulationGroup values;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_AOSmithPHPT60SimulationGroup" type="hvac:AOSmithPHPT60SimulationGroup">
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from B02_HeatPumpWaterHeaterModel as default and allow user to override with an equivalent system based on the simulated equipment in B06 as follows: Switch (A04_HeatPumpWaterHeaterSimulationGroup) case: AOSmithPHPT60 list = AOSmithPHPT60SimulationGroup values;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_AOSmithPHPT80SimulationGroup" type="hvac:AOSmithPHPT80SimulationGroup">
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from B02_HeatPumpWaterHeaterModel as default and allow user to override with an equivalent system based on the simulated equipment in B06 as follows: Switch (A04_HeatPumpWaterHeaterSimulationGroup) case: AOSmithPHPT80 list = AOSmithPHPT80SimulationGroup values;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_AOSmithSHPT50SimulationGroup" type="hvac:AOSmithSHPT50SimulationGroup">
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from B02_HeatPumpWaterHeaterModel as default and allow user to override with an equivalent system based on the simulated equipment in B06 as follows: Switch (A04_HeatPumpWaterHeaterSimulationGroup) case: AOSmithSHPT50 list = AOSmithSHPT50SimulationGroup values;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_AOSmithSHPT80SimulationGroup" type="hvac:AOSmithSHPT80SimulationGroup">
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from B02_HeatPumpWaterHeaterModel as default and allow user to override with an equivalent system based on the simulated equipment in B06 as follows: Switch (A04_HeatPumpWaterHeaterSimulationGroup) case: AOSmithSHPT80 list = AOSmithSHPT80SimulationGroup values;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_GE201450SimulationGroup" type="hvac:GE201450SimulationGroup">
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from B02_HeatPumpWaterHeaterModel as default and allow user to override with an equivalent system based on the simulated equipment in B06 as follows: Switch (A04_HeatPumpWaterHeaterSimulationGroup) case: GE201450 list = GE201450SimulationGroup values;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_GE201480SimulationGroup" type="hvac:GE201480SimulationGroup">
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from B02_HeatPumpWaterHeaterModel as default and allow user to override with an equivalent system based on the simulated equipment in B06 as follows: Switch (A04_HeatPumpWaterHeaterSimulationGroup) case: GE201480 list = GE201480SimulationGroup values;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_RheemHB50SimulationGroup" type="hvac:RheemHB50SimulationGroup">
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from B02_HeatPumpWaterHeaterModel as default and allow user to override with an equivalent system based on the simulated equipment in B06 as follows:  Switch (A04_HeatPumpWaterHeaterSimulationGroup) case: RheemHB50 list = RheemHB50SimulationGroup values;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_RheemHBDR2250SimulationGroup" type="hvac:RheemHBDR2250SimulationGroup">
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from B02_HeatPumpWaterHeaterModel as default and allow user to override with an equivalent system based on the simulated equipment in B06 as follows:  Switch (A04_HeatPumpWaterHeaterSimulationGroup) case: RheemHBDR2250 list = RheemHBDR2250SimulationGroup values;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_RheemHBDR2265SimulationGroup" type="hvac:RheemHBDR2265SimulationGroup">
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from B02_HeatPumpWaterHeaterModel as default and allow user to override with an equivalent system based on the simulated equipment in B06 as follows:  Switch (A04_HeatPumpWaterHeaterSimulationGroup) case: RheemHBDR2265 list = RheemHBDR2265SimulationGroup values;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_RheemHBDR2280SimulationGroup" type="hvac:RheemHBDR2280SimulationGroup">
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from B02_HeatPumpWaterHeaterModel as default and allow user to override with an equivalent system based on the simulated equipment in B06 as follows:  Switch (A04_HeatPumpWaterHeaterSimulationGroup) case: RheemHBDR2280 list = RheemHBDR2280SimulationGroup values;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_RheemHBDR4550SimulationGroup" type="hvac:RheemHBDR4550SimulationGroup">
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from B02_HeatPumpWaterHeaterModel as default and allow user to override with an equivalent system based on the simulated equipment in B06 as follows: Switch (A04_HeatPumpWaterHeaterSimulationGroup) case: RheemHBDR4550 list = RheemHBDR4550SimulationGroup values;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_RheemHBDR4565SimulationGroup" type="hvac:RheemHBDR4565SimulationGroup">
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from B02_HeatPumpWaterHeaterModel as default and allow user to override with an equivalent system based on the simulated equipment in B06 as follows: Switch (A04_HeatPumpWaterHeaterSimulationGroup) case: RheemHBDR4565 list = RheemHBDR4565SimulationGroup values;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_RheemHBDR4580SimulationGroup" type="hvac:RheemHBDR4580SimulationGroup">
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from B02_HeatPumpWaterHeaterModel as default and allow user to override with an equivalent system based on the simulated equipment in B06 as follows: Switch (A04_HeatPumpWaterHeaterSimulationGroup) case: RheemHBDR4580 list = RheemHBDR4580SimulationGroup values;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_Sanden40SimulationGroup" type="hvac:Sanden40SimulationGroup">
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from B02_HeatPumpWaterHeaterModel as default and allow user to override with an equivalent system based on the simulated equipment in B06 as follows:  Switch (A04_HeatPumpWaterHeaterSimulationGroup) case: Sanden40 list = Sanden40SimulationGroup values;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_Sanden80SimulationGroup" type="hvac:Sanden80SimulationGroup">
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from B02_HeatPumpWaterHeaterModel as default and allow user to override with an equivalent system based on the simulated equipment in B06 as follows: Switch (A04_HeatPumpWaterHeaterSimulationGroup) case: Sanden80 list = Sanden80SimulationGroup values;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_Stiebel220ESimulationGroup" type="hvac:Stiebel220ESimulationGroup">
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from B02_HeatPumpWaterHeaterModel as default and allow user to override with an equivalent system based on the simulated equipment in B06 as follows: Switch (A04_HeatPumpWaterHeaterSimulationGroup) case: Stiebel220E list = Stiebel220ESimulationGroup values.</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:element name="C03_WaterHeaterTotalSystemCount" type="hvac:WaterHeaterTotalSystemCount">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Number of Water Heaters in System</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input;  Check that result == B03 value</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="C04_TankLocation" type="hvac:TankLocation">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Tank Location</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference value from B04_TankLocation;</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="C05_ExteriorTankInsulation" type="hvac:ExteriorTankInsulation">
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Exterior Tank Insulation R-Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input;  Check that result GTE B05_ExteriorTankInsulation; Else If B05_NotApplicableMessage == N/A result = N/A</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C05_NotApplicableMessage" type="comp:NotApplicableMessage">
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Exterior Tank Insulation R-Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input;  Check that result GTE B05_ExteriorTankInsulation; Else If B05_NotApplicableMessage == N/A result = N/A</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_D" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Design HERS Verified Central Water Heating Distribution Systems Information</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="D_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">This table reports the water heating distribution types specified on the registered CF1R compliance document for this project.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableDesignDistribution">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="D01_WaterHeatingSystemName" type="hvac:WaterHeatingSystemName">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Water Heating System ID or Name</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference values from B01</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="D02_ResidentialDHWCentralDistributionType">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Central DHW System Distribution Type</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference value from CF1R-PRF-01.  Allowed values: RecirculatingTemperatureModulationMF  display term Multi-family: Recirculating with temperature modulation,  RecirculatingContinuousTemperatureModulationMonitoringMF display term Multi-family: Recirculating with temperature modulation and monitoring, RecirculatingDemandControlMF  display term Multi-family: Recirculating demand control, RecirculatingNonDemandContinuousPumpingMF  display term Multi-family: Recirculating with no control (continuous pumping), NoRecirculationPumpNoLoopsMF  display term Multi-family: No loops or recirc. pump</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="hvac:ResidentialDHWCentralDistributionType">
                                             <xsd:enumeration value="NoRecirculationPumpNoLoopsMF"/>
                                             <xsd:enumeration value="RecirculatingContinuousTemperatureModulationMonitoringMF"/>
                                             <xsd:enumeration value="RecirculatingDemandControlMF"/>
                                             <xsd:enumeration value="RecirculatingNonDemandContinuousPumpingMF"/>
                                             <xsd:enumeration value="RecirculatingTemperatureModulationMF"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="D03_ResidentialDHWDwellingUnitDistributionType">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Dwelling Unit DHW System Distribution Type</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference CF1R Allowed values: StandardDistribution display term Standard distribution system, StandardDistributionInsulatedPipesHERS  display term HERS Verified Pipe Insulation;</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="hvac:ResidentialDHWDwellingUnitDistributionType">
                                             <xsd:enumeration value="StandardDistribution"/>
                                             <xsd:enumeration value="StandardDistributionInsulatedPipesHERS"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_E" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Installed HERS Verified Central Water Heating Distribution Systems Information</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="E_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">This table reports the water heating distribution types specified on the registered CF1R compliance document for this project.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableInstalledDistribution">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="E01_WaterHeatingSystemName" type="hvac:WaterHeatingSystemName">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Water Heating System ID or Name</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference values from B01</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="E02_ResidentialDHWCentralDistributionType">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Central DHW System Distribution Type</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference value from D02</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="hvac:ResidentialDHWCentralDistributionType">
                                             <xsd:enumeration value="NoRecirculationPumpNoLoopsMF"/>
                                             <xsd:enumeration value="RecirculatingContinuousTemperatureModulationMonitoringMF"/>
                                             <xsd:enumeration value="RecirculatingDemandControlMF"/>
                                             <xsd:enumeration value="RecirculatingNonDemandContinuousPumpingMF"/>
                                             <xsd:enumeration value="RecirculatingTemperatureModulationMF"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="E03_ResidentialDHWDwellingUnitDistributionType">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Dwelling Unit DHW System Distribution Type</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference value from D03</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="hvac:ResidentialDHWDwellingUnitDistributionType">
                                             <xsd:enumeration value="StandardDistribution"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_F" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Mandatory Requirements For All Central Domestic Hot Water Systems</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="F01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">On systems that have a total capacity greater than 167,000 Btu/hr, outlets that require higher than service water temperatures as listed in the ASHRAE Handbook have separate remote heaters, heat exchangers, or boosters to supply the outlet with the higher temperature.  (Section 110.3 (c)1)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">Systems with circulating pumps or with electrical heat trace systems shall be capable of automatically turning off the system.  (Section 110.3(c)2).</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F03" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">Unfired storage tanks are insulated with 
                           <d:l t="*">
                              <d:list> External insulation of R-12, or </d:list>
                              <d:list> Internal insulation of R-16, or  </d:list>
                              <d:list> The heat loss of the tank surface based on an 80
                                 <d:deg/>F water-air temperature difference shall be less than 6.5 Btu/ft<d:sup>2</d:sup>. (Section 110.3(c)3).</d:list>
                           </d:l>
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F04" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">Recirculation loop shall meet the following requirements:  
                           <d:l t="*">
                              <d:list>The recirculation pump is mounted on a vertical section of the return line, OR an automatic air release valve is installed on a riser at least 12 inches in length, on the inlet side of the recirculation pump, no more than 4 feet from the pump. (Section 110.3(c)4A). </d:list>
                              <d:list> A check valve is located between the recirculation pump and the water heater. (Section 110.3(c)4B).</d:list>
                              <d:list> A hose bibb is installed between the pump and the water heating equipment with an isolation valve between the hose bibb and the water heating equipment.  (Section 110.3(c)4C). </d:list>
                              <d:list>Isolation valves are installed on both sides of the pump of which the valve required in (Section 110.3(c)4C can be one.  (Section 110.3(c)4D).</d:list>
                              <d:list> The cold water supply piping and the recirculation loop piping is not connected to the hot water storage tank drain port.  (Section 110.3(c)4E). </d:list>
                              <d:list> A check valve is installed on the cold water supply line between the hot water system and the next closest tee on the cold water supply.  (Section 110.3(c)4F).   </d:list>
                           </d:l>
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F05" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">Instantaneous water heaters with an input greater than 6.8 kBtu/hr. (2kW) shall have isolation valves at both the cold water supply and the hot water line (110.3(c)6).</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F06" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">All domestic hot water piping shall be insulated as specified in Section 609.11 of the California Plumbing Code.  In addition, the following piping conditions shall have a minimum insulation wall thickness of 1 inch or a minimum of insulation R-value of 7.7 (RA4.4.1) 
                           <d:l t="*">
                              <d:list> The first 5 feet (1.5 meters) of hot and cold water pipes from the storage tank. </d:list>
                              <d:list> All piping with a nominal diameter of 3/4 inch (19 millimeter) and less than 1 inch. </d:list>
                              <d:list> All hot water pipes from the heating source to the kitchen fixtures. </d:list>
                              <d:list> Piping from the heating source to storage tank of between tanks. </d:list>
                              <d:list>  All piping associated with a recirculation system </d:list>
                              <d:list> All underground piping.  </d:list>
                           </d:l>
                           <d:line1/>
                           <d:l t="*">
                              <d:list> Insulation buried below grade must be installed in a waterproof and non-crushable casing or sleeve.</d:list>
                              <d:list> Piping that penetrates framing members shall not be required to have pipe insulation for the distance of the framing penetration.   Metal piping that penetrates metal framing shall use grommets, plugs, wrapping or other insulating material to assure that no contact is made with the metal framing. Insulation shall butt securely against all framing members.   </d:list>
                              <d:list> Piping installed in interior or exterior walls that is surrounded on all sides by at least 1 inch (2.5cm) of insulation. </d:list>
                              <d:list> Piping installed in crawlspace with a minimum of 1 inch (2.5cm) of crawlspace insulation above and below. </d:list>
                              <d:list> Piping installed in attics with a minimum of 4 inches (10 cm) of attic insulation on top. </d:list>
                              <d:list> Pipe insulation shall fit tightly and all elbows and tees shall be fully insulated. </d:list>
                           </d:l>
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F07_DoesSystemComplyWithRequirements" type="comp:DoesSystemComplyWithRequirements">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Verification Status:</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Display choices: Pass,  Fail  or N/A</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F08_SectionCorrectionNotes" type="comp:SectionCorrectionNotes" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Correction Notes:</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If DoesSystemComplyWithRequirements value is Fail, require that the reason is described in this field</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="FEdnNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met unless otherwise noted in the Verification Status and the Corrections Notes in this table.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_G" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">HERS Verified Multiple Recirculation Loops for DHW systems Serving Multiple Dwelling Units Requirements</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="G_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">All distribution systems listed on this compliance document shall comply with these requirements.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">All buildings with 8 or more dwelling units have a 
                           <d:b>minimum</d:b> of 2 recirculation loops.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">Each loop roughly serves the same number of dwellings.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G03_DoesSystemComplyWithRequirements" type="comp:DoesSystemComplyWithRequirements">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Verification Status:</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Display choices: Pass,  Fail  or N/A</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G04_SectionCorrectionNotes" type="comp:SectionCorrectionNotes" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Correction Notes:</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If DoesSystemComplyWithRequirements value is Fail, require that the reason is described in this field</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="GEdnNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met unless otherwise noted in the Verification Status and the Corrections Notes in this table.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_H" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Determination of HERS Verification Compliance</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="H_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">All applicable sections of this document shall indicate compliance with the specified verification protocol requirements in order for this Certificate of Verification as a whole to be determined to be in compliance.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="H01_DoesCF3R_Pass" type="comp:DoesCF3R_Pass">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="CalculationsAndRules">If F07_DoesSystemComplyWithRequirements != Fail And G03_DoesSystemComplyWithRequirements != Fail then result =  true  display term Complies: All specified verification protocol requirements on this document are met; Else result = false display term: Does not comply: One or more specified verification protocol requirements on this document are not met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="ComplianceDocumentPackage">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="DocID" minOccurs="0">
               <xsd:complexType>
                  <xsd:attribute name="doc" type="comp:ComplianceDocumentTag" fixed="CF3RPLB21bH"/>
                  <xsd:attribute name="docType" type="comp:ComplianceDocumentType" fixed="CERTIFICATE OF VERIFICATION"/>
                  <xsd:attribute name="docTitle" type="comp:ComplianceDocumentTitleRes" fixed="HERS Verified Multifamily Central Hot Water System Distribution"/>
                  <xsd:attribute name="docVariantLetter" type="comp:ComplianceDocumentVariant" fixed="b"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Payload" type="comp:Payload"/>
            <xsd:element name="DocumentData">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Header" type="comp:HeaderCF2R_3R"/>
                     <xsd:element ref="cF3RPLB21bH"/>
                     <xsd:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     <xsd:element name="RespPerson" type="comp:ResponsiblePersonCF3R"/>
                     <xsd:element name="Footer" type="comp:Footer"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Report" type="xsd:base64Binary"/>
         </xsd:sequence>
         <xsd:attribute name="revision" use="required" type="xsd:string" fixed="rev 20190501"/>
         <xsd:attribute name="doc" use="required" type="comp:ComplianceDocumentTag" fixed="CF3RPLB21bH"/>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="cF3RPLB21bH" type="CF3RPLB21bH">
      <xsd:annotation>
         <xsd:documentation>This element contains all of the data and text required to generate the CF3RPLB21bH compliance report.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
</xsd:schema>
