schema/CF2R/CF2RPLB02aE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
   targetNamespace="http://www.lmonte.com/besm/CF2RPLB02aE"
   xmlns="http://www.lmonte.com/besm/CF2RPLB02aE"
   xmlns:d="http://www.lmonte.com/besm/d"
   xmlns:bld="http://www.lmonte.com/besm/bld"
   xmlns:env="http://www.lmonte.com/besm/env"
   xmlns:lit="http://www.lmonte.com/besm/lit"
   xmlns:hvac="http://www.lmonte.com/besm/hvac"
   xmlns:comp="http://www.lmonte.com/besm/comp"
   xmlns:com="http://www.lmonte.com/besm/com"
   xmlns:dtyp="http://www.lmonte.com/besm/dtyp"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:altova="http://www.altova.com/xml-schema-extensions"
   elementFormDefault="qualified" attributeFormDefault="unqualified" version="2019.1.006">
   <xsd:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   <xsd:element name="ComplianceDocumentPackage">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="DocID" minOccurs="0">
               <xsd:complexType>
                  <xsd:attribute name="doc" type="comp:ComplianceDocumentTag" fixed="CF2RPLB02aE"/>
                  <xsd:attribute name="docType" type="comp:ComplianceDocumentType" fixed="CERTIFICATE OF INSTALLATION"/>
                  <xsd:attribute name="docTitle" type="comp:ComplianceDocumentTitleRes" fixed="Single Dwelling Unit Hot Water System Distribution"/>
                  <xsd:attribute name="docVariantLetter" type="comp:ComplianceDocumentVariant" fixed="a"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Payload" type="comp:Payload"/>
            <xsd:element name="DocumentData">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Header" type="comp:HeaderCF2R_3R" />
                     <xsd:element ref="cF2RPLB02aE" />
                     <xsd:element name="DocAuthor" type="comp:DocumentAuthor" />
                     <xsd:element name="RespPerson" type="comp:ResponsiblePersonCF2R_E" />
                     <xsd:element name="Footer" type="comp:Footer" />
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Report" type="xsd:base64Binary"/>
         </xsd:sequence>
         <xsd:attribute name="revision" use="required" type="xsd:string" fixed="rev 20210501"/>
         <xsd:attribute name="doc" use="required" type="comp:ComplianceDocumentTag" fixed="CF2RPLB02aE"/>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="CF2RPLB02aE">
      <xsd:annotation>
         <xsd:documentation>Single Dwelling Unit Hot Water System Distribution</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="Section_A" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Design Dwelling Unit Water Heating Systems Information</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">Require one row of data for each non-HERS water heater identified on the CF1R</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="A_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">This table reports the water heating system features that were specified on the registered CF1R compliance document for this project.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableDesignSystem" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="A01_ResidentialDwellingUnitName" type="com:ResidentialDwellingUnitName" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Dwelling Unit Name</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference value from CF1R; If single family, enter string: Single Family</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="A02_WaterHeatingSystemName" type="hvac:WaterHeatingSystemName" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Water Heating System ID or Name</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference values from CF1R</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="A03_ResidentialWaterHeatingSystemType" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Water Heating System Type</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference values from CF1R Allowed values are: DHW display text: DHW, HydronicSpaceConditioningDHW display text: Combined Hydronic and Hydronic</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="hvac:ResidentialWaterHeatingSystemType">
                                             <xsd:enumeration value="DHW"/>
                                             <xsd:enumeration value="Hydronic"/>
                                             <xsd:enumeration value="HydronicSpaceConditioningDHW"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="A04_ResidentialWaterHeaterType" type="hvac:ResidentialWaterHeaterType" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Water-Heater Type</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference values from CF1R Allowed values are: BoilerWaterHeater display term: Boiler, HeatPumpWaterHeater display term: Heat Pump,  IndirectWaterHeating display term:  Indirect, InstantaneousCommercial display term: Commercial Instantaneous, InstantaneousResDutyCommercial display term: Residential-Duty Commercial Instantaneous, InstantaneousConsumer display term: Consumer Instantaneous,   StorageCommercial display term: Commercial Storage, StorageResDutyCommercial display term: Residential-Duty Commercial Storage,   StorageConsumer display term: Consumer Storage</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="A05_WaterHeaterTotalSystemCount" type="hvac:WaterHeaterTotalSystemCount" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText"># of Like (or Identical) Water Heaters in System</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference values from CF1R</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="A06_WaterHeaterFuelSource" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Fuel Type</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference values from CF1R Allowed values: Electricity display term Electricity, NaturalGas display term Natural Gas, PropaneGas display term Propane gas, WaterHeatingHP display term Heat Pump</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="hvac:WaterHeaterFuelSource">
                                             <xsd:enumeration value="Electricity"/>
                                             <xsd:enumeration value="NaturalGas"/>
                                             <xsd:enumeration value="PropaneGas"/>
                                             <xsd:enumeration value="WaterHeatingHP"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="A07_WaterHeaterRatedInputUnits" type="hvac:WaterHeaterRatedInputUnits" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Rated Input Type</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If parent CF1R == CF1R-ADD, CF1R-ALT or CF1R-NCB  result = N/A stored in _NotApplicableMessage; Else  reference value from CF1R.  Allowed values: If A05_WaterHeaterFuelSource == NaturalGas Or PropaneGas result = BtuHr Else If A06_WaterHeaterFuelSource == Electricity result = kW; Else If A06_WaterHeaterFuelSource == WaterHeatingHP result = N/A stored in _NotApplicableMessage;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="A07_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Rated Input Type</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If parent CF1R == CF1R-ADD, CF1R-ALT or CF1R-NCB  result = N/A stored in _NotApplicableMessage; Else  reference value from CF1R.  Allowed values: If A05_WaterHeaterFuelSource == NaturalGas Or PropaneGas result = BtuHr Else If A06_WaterHeaterFuelSource == Electricity result = kW; Else If A06_WaterHeaterFuelSource == WaterHeatingHP result = N/A stored in _NotApplicableMessage;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="A08_WaterHeaterElectricFiredRatedInput" type="hvac:WaterHeaterElectricFiredRatedInput" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Rated Input Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If A04_ResidentialWaterHeaterType == HeatPumpWaterHeater then result = N/A stored in the NotApplicableMessage;  Else for prescriptive CF1R result = N/A  stored in the NotApplicableMessage; Else reference value from CF1R PRF.  If A07_WaterHeaterRatedInputUnits == kW store result in WaterHeaterElectricFiredRatedInput Else store result in WaterHeaterGasFiredRatedInput</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="A08_WaterHeaterGasFiredRatedInput" type="hvac:WaterHeaterGasFiredRatedInput" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Rated Input Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If A04_ResidentialWaterHeaterType == HeatPumpWaterHeater then result = N/A stored in the NotApplicableMessage;  Else for prescriptive CF1R result = N/A  stored in the NotApplicableMessage; Else reference value from CF1R PRF.  If A07_WaterHeaterRatedInputUnits == kW store result in WaterHeaterElectricFiredRatedInput Else store result in WaterHeaterGasFiredRatedInput</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="A08_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Rated Input Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If A04_ResidentialWaterHeaterType == HeatPumpWaterHeater then result = N/A stored in the NotApplicableMessage;  Else for prescriptive CF1R result = N/A  stored in the NotApplicableMessage; Else reference value from CF1R PRF.  If A07_WaterHeaterRatedInputUnits == kW store result in WaterHeaterElectricFiredRatedInput Else store result in WaterHeaterGasFiredRatedInput</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="A09_ResidentialDHWDwellingUnitDistributionType" type="hvac:ResidentialDHWDwellingUnitDistributionType" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Dwelling Unit DHW System Distribution Type</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference values from CF1R as follows: If parent CF1R == performance (CF1R-PRF) values are: 
StandardDistribution display term: Standard Distribution System; 
PointOfUse display term: Point Of Use, 
StandardDistributionCentralParallelPiping display term: Parallel Piping; 
 RecirculationNonDemand display term:  Recirculation System Non-Demand Control; 
DemandRecirculationManualControl display term: Demand Recirculation Manual Control; 
 DemandRecirculationSensorControls display term: Demand Recirculation Sensor Control;  
 
Else If parent CF1R == prescriptive Then
If parent CF1R is CF1R-ALT
result = NotApplicable stored in NotApplicableMessage
 
Else allowed values are: 
StandardDistribution display term: Standard Distribution System; 
DemandRecirculationManualControl display term: Demand Recirculation Manual Control, 
DemandRecirculation display term Demand Recirculation;
End if
End If</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="A09_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Dwelling Unit DHW System Distribution Type</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If parent CF1R is prescriptive CF1R-ALT
result = NotApplicable stored in NotApplicableMessage
End If</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="A10_CompactDistributionType" type="hvac:CompactDistributionType" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Compact Distrib.</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference values from CF1R as folows:
If parent CF1R is prescriptive CF1R-ALT
result = NotApplicable stored in NotApplicableMessage
Else allowed values are 
BasicType display term Basic, 
NotCompact display term None
End If</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="A10_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Compact Distrib.</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If parent CF1R is prescriptive CF1R-ALT
result = NotApplicable stored in NotApplicableMessage
End If</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_B" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Installed Dwelling Unit Water Heating Systems Information</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">Require one row of data for each non-HERS water heater identified on the CF1R</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="B_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">This table reports the water heating system features that were  installed in this project.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableInstalledSystem" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="B01_ResidentialDwellingUnitName" type="com:ResidentialDwellingUnitName" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Dwelling Unit Name</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference value from A01</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="B02_WaterHeatingSystemName" type="hvac:WaterHeatingSystemName" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Water Heating System ID or Name</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference value from A02</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="B03_ResidentialWaterHeatingSystemType" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Water Heating System Type</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference value from A03</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="hvac:ResidentialWaterHeatingSystemType">
                                             <xsd:enumeration value="DHW"/>
                                             <xsd:enumeration value="Hydronic"/>
                                             <xsd:enumeration value="HydronicSpaceConditioningDHW"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="B04_ResidentialWaterHeaterType" type="hvac:ResidentialWaterHeaterType" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Water-Heater Type</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference value from A04</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="B05_WaterHeaterTotalSystemCount" type="hvac:WaterHeaterTotalSystemCount" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText"># of Like (or Identical) Water Heaters in System</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference value from A05</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="B06_WaterHeaterFuelSource" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Fuel Type</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference value from A06</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="hvac:WaterHeaterFuelSource">
                                             <xsd:enumeration value="Electricity"/>
                                             <xsd:enumeration value="NaturalGas"/>
                                             <xsd:enumeration value="PropaneGas"/>
                                             <xsd:enumeration value="WaterHeatingHP"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="B07_WaterHeaterRatedInputUnits" type="hvac:WaterHeaterRatedInputUnits" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Rated Input Type</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from A07</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="B07_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Rated Input Type</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from A07</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="B08_WaterHeaterElectricFiredRatedInput" type="hvac:WaterHeaterElectricFiredRatedInput" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Rated Input Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If A08_NotApplicableMessage != N/A Then If B04_ResidentialWaterHeaterType  == BoilerWaterHeater Or IndirectWaterHeating, user input with no limit on value; Else If A06_WaterHeaterFuelSource == Electricity, user input which must pass following range: Switch ( B04_ResidentialWaterHeaterType) case  StorageCommercial and case InstantaneousCommercial: result  must be GT 12 kW; case StorageConsumer and case InstantaneousConsumer: result must be LTE 12 kW; case InstantaneousResDutyCommercial: result must be LTE 58.6 kW. Result is stored in WaterHeaterElectricFiredRatedInput;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="B08_WaterHeaterGasFiredRatedInput" type="hvac:WaterHeaterGasFiredRatedInput" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Rated Input Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If A08_NotApplicableMeaage != N/A Then If B04_ResidentialWaterHeaterType  == BoilerWaterHeater Or IndirectWaterHeating, user input with no limit on value; Else If A05_WaterHeaterFuelSource == NaturalGas Or PropaneGas user input which must pass following range:   Switch ( B04_ResidentialWaterHeaterType) case StorageCommercial: result must be GT 75,000 Btu/hr; case StorageConsumer: result must be LTE 75,000 Btu/hr; case  InstantaneousCommercial: result must be GT 200,000 Btu/hr; case InstantaneousConsumer:  result must be LTE 200,000 Btu/hr; case  StorageResDutyCommercial: result must be LTE 105,000 Btu/hr.  Result is stored in WaterHeaterGasFiredRatedInput;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="B08_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Rated Input Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If A08_NotApplicableMeaage == N/A result = N/A stored in NotApplicableMessage</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="B09_ResidentialDHWDwellingUnitDistributionType" type="hvac:ResidentialDHWDwellingUnitDistributionType" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Dwelling Unit DHW System Distribution Type</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from A09</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="B09_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Dwelling Unit DHW System Distribution Type</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from A09 which may be N/A</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="B10_CompactDistributionType" type="hvac:CompactDistributionType" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Compact Distrib.</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from A10</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="B10_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Compact Distrib.</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from A10 which may be N/A</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_C" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Design Dwelling Unit Water Heating Efficiency Information</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">Require one row of data for each water heater identified in Section B</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="C_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">This table reports the water heater(s) efficiency features specified on the registered CF1R compliance document for this project.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableDesignEfficiency" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="C01_WaterHeatingSystemName" type="hvac:WaterHeatingSystemName" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Water Heating System ID or Name</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference value from A02_WaterHeatingSystemName</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="C02_EfficiencyType" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Heating Efficiency Type</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If parent == prescriptive CF1R result = N/A stored in NotApplicableMessage; Else reference value from CF1R-PRF;  Allowed values:  UniformEnergyFactor, AFUE, ThermalEfficiency</xsd:documentation>
                                          </xsd:annotation>
                                          <xsd:simpleType>
                                             <xsd:restriction base="hvac:EfficiencyType">
                                                <xsd:enumeration value="AFUE"/>
                                                <xsd:enumeration value="EnergyFactor"/>
                                                <xsd:enumeration value="ThermalEfficiency"/>
                                                <xsd:enumeration value="UniformEnergyFactor"/>
                                             </xsd:restriction>
                                          </xsd:simpleType>
                                       </xsd:element>
                                       <xsd:element name="C02_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Heating Efficiency Type</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="C03_UniformEnergyFactor" type="hvac:UniformEnergyFactor" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Heating Efficiency Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from CF1R-PRF; Else result = N/A stored in NotApplicableMessage</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C03_EnergyFactor" type="hvac:EnergyFactor" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Heating Efficiency Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from CF1R-PRF; Else result = N/A stored in NotApplicableMessage</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C03_WaterHeaterAFUE" type="hvac:WaterHeaterAFUE" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Heating Efficiency Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from CF1R-PRF; Else result = N/A stored in NotApplicableMessage</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C03_ThermalEfficiency" type="hvac:ThermalEfficiency" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Heating Efficiency Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from CF1R-PRF; Else result = N/A stored in NotApplicableMessage</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C03_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Heating Efficiency Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from CF1R-PRF; Else result = N/A stored in NotApplicableMessage</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="C04_WaterHeatingStandbyLossPercent" type="hvac:WaterHeatingStandbyLossPercent" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Standby Loss (%)</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from CF1R-PRF; Else result = N/A stored in NotApplicableMessage</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C04_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Standby Loss (%)</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from CF1R-PRF; Else result = N/A stored in NotApplicableMessage</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="C05_ExteriorTankInsulation" type="hvac:ExteriorTankInsulation" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Exterior Insul. R-Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from CF1R-PRF; Else result = N/A stored in NotApplicableMessage</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C05_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Exterior Insul. R-Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from CF1R-PRF; Else result = N/A stored in NotApplicableMessage</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="C06_StorageCapacity" type="hvac:StorageCapacity" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Water Heater Storage Volume (gal)</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference values from CF1R. N/A is allowed only if B03_ResidentialWaterHeaterType == InstantaneousCommercial, InstantaneousConsumer Or InstantaneousResDutyCommercial</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C06_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Water Heater Storage Volume (gal)</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference values from CF1R. N/A is allowed only if B03_ResidentialWaterHeaterType == InstantaneousCommercial, InstantaneousConsumer Or InstantaneousResDutyCommercial</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="C07_TankLocation" type="hvac:TankLocation" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Tank Location</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from CF1R</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C07_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Tank Location</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from CF1R</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_D" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Installed Dwelling Unit Water Heating Efficiency Information</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">Require one row of data for each water heater identified in Section B</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="D_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">This table reports the water heating system features that were  installed in this project.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableInstalledEfficiency" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="D01_WaterHeatingSystemName" type="hvac:WaterHeatingSystemName" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Water Heating System ID or Name</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference value from A02_WaterHeatingSystemName</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="D02_EfficiencyType" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Heating Efficiency Type</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from C02 which may be N/A</xsd:documentation>
                                          </xsd:annotation>
                                          <xsd:simpleType>
                                             <xsd:restriction base="hvac:EfficiencyType">
                                                <xsd:enumeration value="AFUE"/>
                                                <xsd:enumeration value="EnergyFactor"/>
                                                <xsd:enumeration value="ThermalEfficiency"/>
                                                <xsd:enumeration value="UniformEnergyFactor"/>
                                             </xsd:restriction>
                                          </xsd:simpleType>
                                       </xsd:element>
                                       <xsd:element name="D02_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Heating Efficiency Type</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from C02 which may be N/A</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="D03_UniformEnergyFactor" type="hvac:UniformEnergyFactor" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Heating Efficiency Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input.  Check: If result GTE C03 result complies; Else flag result as non-compliant and do not allow the doc to be registered.</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="D03_WaterHeaterAFUE" type="hvac:WaterHeaterAFUE" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Heating Efficiency Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input.  Check: If result GTE C03 result complies; Else flag result as non-compliant and do not allow the doc to be registered.</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="D03_ThermalEfficiency" type="hvac:ThermalEfficiency" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Heating Efficiency Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input.  Check: If result GTE C03 result complies; Else flag result as non-compliant and do not allow the doc to be registered.</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="D03_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Heating Efficiency Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If C03_NotApplicableMessage == N/A result = N/A stored in NotApplicableMessage</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="D04_WaterHeatingStandbyLossPercent" type="hvac:WaterHeatingStandbyLossPercent" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Standby Loss (%)</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If C04_NotApplicableMessage == N/A result = N/A stored in NotApplicableMessage; Else user input;  Check: If result  LTE C04 result complies; Else flag as non-compliant and do not allow doc to be registered.</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="D04_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Standby Loss (%)</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If C04_NotApplicableMessage == N/A result = N/A stored in NotApplicableMessage; Else user input;  Check: If result  LTE C04 result complies; Else flag as non-compliant and do not allow doc to be registered.</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="D05_ExteriorTankInsulation" type="hvac:ExteriorTankInsulation" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Exterior Insul. R-Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If C05_NotApplicableMessage == N/A result = N/A stored in NotApplicableMessage; Else user input;  Check: If result  GTE C05 result complies; Else flag as non-compliant and do not allow doc to be registered.</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="D05_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Exterior Insul. R-Value</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If C05_NotApplicableMessage == N/A result = N/A stored in NotApplicableMessage; Else user input;  Check: If result  GTE C05 result complies; Else flag as non-compliant and do not allow doc to be registered.</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="D06_StorageCapacity" type="hvac:StorageCapacity" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Water Heater Storage Volume (gal)</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If C06_NotApplicableMessage == N/A result = N/A stored in NotApplicableMessage; Else user input;  Check: If result  == C06</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="D06_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Water Heater Storage Volume (gal)</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If C06_NotApplicableMessage == N/A result = N/A stored in NotApplicableMessage; Else user input;  Check: If result  == C06</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="D07_TankLocation" type="hvac:TankLocation" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Tank Location</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from C07 which may be N/A If CF1R is N/A</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="D07_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Tank Location</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference value from C07 which may be N/A If CF1R is N/A</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_E" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Installed Water Heater Manufacturer Information</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">Require one row of data for each water heater identified in Section B</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="TableInstalledWaterHeater" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="E01_WaterHeatingSystemName" type="hvac:WaterHeatingSystemName" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Water Heating System ID or Name</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference value from A02</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="E02_WaterHeaterManufacturer" type="hvac:WaterHeaterManufacturer" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Manufacturer</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input;</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="E03_WaterHeaterModelNumber" type="hvac:WaterHeaterModelNumber" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Model Number</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input;</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_F" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Mandatory Measures For All Domestic Hot Water Distribution Systems</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="F01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Equipment shall meet the applicable requirements of the Appliance Efficiency Regulations (Section 110.3(b)1).</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Unfired storage tanks are insulated with an external R-12 or combination of R-16 internal and external Insulation. (Section 110.3(c)4).</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F03" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">All domestic hot water pipes shall be insulated as specified in Section 609.11 of the California Plumbing Code.  In addition, the following piping conditions shall have a minimum insulation wall thickness of 1 inch or a minimum insulation R-value of 7.7 (RA4.4.1) [d:l t="*"][d:list] The first 5 feet (1.5 meters) of cold water pipes from the storage tank. [/d:list][d:list]All piping with a nominal diameter of 3/4 inch (19 millimeter) and less than 1 inch.. [/d:list][d:list]All hot water pipes from the heating source to the kitchen fixtures.[/d:list][d:list]Piping from the heating source to storage tank or between tanks. [/d:list][d:list]All piping associated with a recirculation system. [/d:list][d:list]All underground piping. [/d:list][/d:l]  [d:line1/][d:l t="*"][d:list] Insulation buried below grade must be installed in a waterproof and non-crushable casing or sleeve. [/d:list][d:list]Piping that penetrates framing members shall not be required to have pipe insulation for the distance of the framing penetration.[/d:list][d:list] Piping that penetrates metal framing shall use grommets, plugs, wrapping or other insulating material to assure that no contact is made with the metal framing. Insulation shall butt securely against all framing members.[/d:list][d:list] Piping installed in interior or exterior walls that is surrounded on all sides by at least 1 inch (2.5 cm) of insulation. [/d:list][d:list] Piping installed in crawl space with a minimum of 1 inch (2.5 cm) of crawl space insulation above and below. [/d:list][d:list]Piping installed in attics with a minimum of 4 inches (10 cm) of attic insulation on top [/d:list][d:list]Piping insulation shall fit tightly and all elbows and tees shall be fully insulated. [/d:list][/d:l]</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F04" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">For Gas or Propane Water Heaters: Ensure the following are installed (Section 150.0(n))  [d:l t="#"][d:list]A dedicated 120V, 20A electrical receptacle connected to the electrical panel with a 120/240V 3 conductor, 10AWG copper branch circuit, within 3 feet from the water heater and accessible with no obstructions [d:l t="#"][d:list]The conductor shall be labeled with the word "Spare" on both ends; and [/d:list][d:list] A reserved single pole circuit breaker space next to the circuit breaker next to the branch circuit  labeled "Future" 240V shall be provided. [/d:list][/d:l] [/d:list] [d:list] A Category III or IV vent, or a Type B vent with straight pipe between outside and water heater  [/d:list][d:list]A condensate drain no more than 2 inches higher than the base on water heater for natural draining   [/d:list][d:list]A gas supply line with capacity of at least 200,000 Btu/Hr[/d:list][/d:l]</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="FEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_G" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Compact Hot Water Distribution (CHWDS) RA4.4.6</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is applicable if at least one dwelling has B10_CompactDistributionType == BasicType.  Require one row of data, reporting the longest distances, for each dwelling unit identified in section B with B10_CompactDistributionType == BasicType</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="G_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">For dwelling units with multiple systems, enter the master bath distance and kitchen distance to the closest water heater, and enter the average of the furthest fixture to each water heater. .</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableCompact" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="G01_ResidentialDwellingUnitName" type="com:ResidentialDwellingUnitName" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Dwelling Name</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference value from A01</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="G02_TotalStoryCount" type="com:TotalStoryCount" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Number of Stories</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If parent CF1R = CF1R-PRF result = N/A stored in NotApplicableMessage; Else user input limited to 1,2 or 3</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="G02_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Number of Stories</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If parent CF1R = CF1R-PRF result = N/A stored in NotApplicableMessage; Else user input limited to 1,2 or 3</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:element name="G03_WaterHeaterToBath" type="comp:WaterHeaterToBath" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Master Bath distance of furthest fixture to Water Heater in feet</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">If parent CF1R = CF1R-PRF result = CF1R-PRF value; Else If prescriptive compliance or not available in XML,  user input</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="G04_WaterHeaterToKitchen" type="comp:WaterHeaterToKitchen" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Kitchen distance of furthest fixture to Water Heater in feet</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">If parent CF1R = CF1R-PRF result = CF1R-PRF value; Else If prescriptive compliance or not available in XML,  user input</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="G05_WaterHeaterToFurthest3rdFixture" type="comp:WaterHeaterToFurthest3rdFixture" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Furthest Third furthest fixture to Water Heater in feet (Avg for multiple water heaters)</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">If parent CF1R = CF1R-PRF result = CF1R-PRF value; Else If prescriptive compliance or not available in XML,  user input</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="G06_WaterHeaterWeightedDistance" type="comp:WaterHeaterWeightedDistance" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Weighted Distance</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">If parent CF1R = CF1R-PRF result = CF1R-PRF value;  
Else If prescriptive compliance or not available in XML, Then
If A09_ResidentialDHWDwellingUnitDistributionType == StandardDistribution 
result =  (G03_WaterHeaterToBath x  0.4)  +  (G04_WaterHeaterToKitchen x 0.4)  + (G05_WaterHeaterToFurthest3rdFixture x 0.2); 
Else If A09_ResidentialDHWDwellingUnitDistributionType == DemandRecirculationManualControl result = G05_WaterHeaterToFurthest3rdFixture</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="G07_WaterHeaterQualificationDistance" type="comp:WaterHeaterQualificationDistance" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Qualification Distance</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">If parent CF1R = CF1R-PRF result = CF1R-PRF value; 
Else If prescriptive compliance or not available in XML,  
result =  ((CompactDistCoefA + CompactDistCoefB x CFA) / A04_WaterHeaterTotalSystemCount); Values for CompactDistCoefA,CompactDistCoefB are found in the Table  4.4.6-2 Coefficients for the Qualification Distance Calculation following section G.  Value for CFA (conditioned floor area)  comes from parent CF1R.</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="G08_CompactFactor" type="comp:CompactFactor" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Design Compactness Factor</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If performance CF1R 
reference value from CF1R-PRF and store in CompactFactor
Else If prescriptive 
result = NotApplicable stored in NotApplicableMessage
End If</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="G08_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Design Compactness Factor</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If prescriptive CF1R
result = NotApplicable stored in NotApplicableMessage
End If</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:element name="G09_CompactFactorCalculated" type="comp:CompactFactorCalculated" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Calculated Compactness Factor</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Calculated field:
result = 0.3 + 0.4 x (G06_WaterHeaterWeightedDistance / G07_WaterHeaterQualificationDistance)
 
If performance CF1R, result must be LTE G08_CompactFactor
Else If prescriptive CF1R result must be LTE 0.7
End If</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="GEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_H" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Parallel Piping Requirements (PP) (RA4.4.4)</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is applicable if there is at least one water heating system that has A09_ResidentialDHWDwellingUnitDistributionType == StandardDistributionCentralParallelPiping</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="H_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Systems that utilize this distribution type shall comply with these requirements</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="H01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Each central manifold has 15 feet or less of pipe between manifold and water heater</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="H02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">For manifolds that include valves, the manifold must be readily accessible in accordance with the plumbing code. (RA 4.4.4)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="H03" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Hot water distribution system piping from the manifold to the fixtures and appliances must take the most direct path.  For instance, piping from a second story manifold cannot supply the first floor.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="H04" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The hot water distribution piping must be separated by at least 2 inches from any other hot water supply piping, and at least 6 inches from any cold water supply piping.  Alternatively, the hot water supply piping must be insulated to the thicknesses shown in TABLE 120.3-A.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="HEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_I" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Point of Use Requirements (POU) (RA4.4.5)</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is applicable if there is at least one water heating system that has A09_  ResidentialDHWDwellingUnitDistributionType == PointOfUse</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="I_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Systems that utilize this distribution type shall comply with these requirements</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="I01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">All hot water supply pipe run lengths are equal to or less than the maximum values shown below, based on the pipe diameter.   If a combination of piping is used in a single run then one half the allowed length of each size is the maximum installed length.  [d:line1/]The maximum allowed length of piping for the longest run terminating in:  [d:line1/][d:tab1/]3/8 inch - For only one pipe size - max length allowed is 15 feet.   [d:line1/][d:tab2/]For combination pipe sizes the max allowed length of 3/8 inch piping is 7.5 feet, of 1/2 inch piping is 5 feet, and 3/4 inch piping is 2.5 feet.   [d:line1/][d:tab1/]1/2 inch - For only one pipe size - max length allowed is 10 feet. [d:line1/][d:tab2/]For combination pipe sizes the allowed length of 1/2 inch piping is 5 feet, and 3/4  inch piping is 2.5 feet.  [d:line1/][d:tab1/]3/4 inch  - For only one pipe size = 5 feet</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="IEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_J" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Mandatory Requirements For All Recirculation Systems (RA4.4.7)</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is applicable if there is at least one water heating system that has A09_ResidentialDHWDwellingUnitDistributionType == RecirculationNonDemand, DemandRecirculationManualControl Or DemandRecirculationSensorControls</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="J_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Systems that utilize a recirculation system shall comply with these requirements</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="J01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">A check valve is located between the recirculation pump and the water heater to prevent unintentional recirculation.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="J02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Piping must take the most direct path between water heater and fixtures.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="J03" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Insulation is not required on the cold water line when it is used as the return.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="J04" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">If more than one loop installed, each loop shall have its own pump and controls</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="JEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_K" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Recirculation Non-Demand Controls Requirements (R-ND) (RA4.4.8)</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is applicable if there is at least one water heating system that has A09_ResidentialDHWDwellingUnitDistributionType == RecirculationNonDemand</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="K_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Systems that utilize this distribution type shall comply with these requirements</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="K01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The active control shall be either: timer, temperature, or time and temperature. Timers shall be set to less than 24 hours. The temperature sensor shall be connected to the piping and to the controls for the pump.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="KEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_L" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Demand Recirculation Manual Control (R-DRmc) (RA4.4.9)/ Sensor Control Requirements (RDRsc) (RA4.4.10)</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is applicable if there is at least one water heating system that has A09_ResidentialDHWDwellingUnitDistributionType == DemandRecirculationManualControl Or DemandRecirculationSensorControls</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="L_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Systems that utilize either of these distribution types shall comply with these requirements</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="L01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The system operates "on-demand", meaning that the pump begins to operate shortly before or immediately after hot water draw begins, and stops when the return water temperature reaches a certain threshold value. For Demand Recirculation Manual Control, the pump shall be turned on using a manual switch system.  For Demand Recirculation Sensor Control, the pump shall be turned on using a sensor system.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="L02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The controls shall be located in the kitchen, bathroom, and any hot water fixture location that is at least 20 feet from the water heater.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="L03" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Manual controls may be activated by wired or wireless mechanisms.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="L04" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Sensor controls may be activated by wired or wireless mechanisms, including buttons, motion sensors, door switches and flow switches.  Each control shall have standby power of 1 Watt or less.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="L05" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Pump and control placement shall meet one of the following criteria:  [d:l t="*"][d:list]When a dedicated return line has been installed the pump, controls and thermo-sensor are installed at the end of the supply portion of the recirculation loop; or  [/d:list][d:list]The pump and controls are installed on the dedicated return line near the water heater, and the thermo-sensor is installed in an accessible location as close to the end of the supply portion of the recirculation loop as possible, or  [/d:list][d:list]When the cold water line is used as the return, the pump, demand controls and thermo-sensor shall be installed in an accessible location at the end of supply portion of the hot water distribution line (typically under a sink).[/d:list][/d:l]</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="L06" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">After the pump has been activated, the controls shall allow the pump to operate until the water temperature at the thermo-sensor rises to one of the following values: (RA4.4.13)  [d:l t="*"][d:list] Not more than 10[d:deg/]F ( 5.6[d:deg/]C ) above the initial temperature of the water in the pipe  [/d:list][d:list]Not more than 102[d:deg/]F (38.9[d:deg/]C).[/d:list][/d:l]</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="L07" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Controls shall limit operation to no more than 5 minutes following activation.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="LEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="cF2RPLB02aE" type="CF2RPLB02aE">
      <xsd:annotation>
         <xsd:documentation>This element contains all of the data and text required to generate the CF2RPLB02aE compliance report.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
</xsd:schema>
