schema/CF2R/CF2RPLB01bE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
   targetNamespace="http://www.lmonte.com/besm/CF2RPLB01bE"
   xmlns="http://www.lmonte.com/besm/CF2RPLB01bE"
   xmlns:d="http://www.lmonte.com/besm/d"
   xmlns:bld="http://www.lmonte.com/besm/bld"
   xmlns:env="http://www.lmonte.com/besm/env"
   xmlns:lit="http://www.lmonte.com/besm/lit"
   xmlns:hvac="http://www.lmonte.com/besm/hvac"
   xmlns:comp="http://www.lmonte.com/besm/comp"
   xmlns:com="http://www.lmonte.com/besm/com"
   xmlns:dtyp="http://www.lmonte.com/besm/dtyp"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:altova="http://www.altova.com/xml-schema-extensions"
   elementFormDefault="qualified" attributeFormDefault="unqualified" version="2019.1.006">
   <xsd:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   <xsd:element name="ComplianceDocumentPackage">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="DocID" minOccurs="0">
               <xsd:complexType>
                  <xsd:attribute name="doc" type="comp:ComplianceDocumentTag" fixed="CF2RPLB01bE"/>
                  <xsd:attribute name="docType" type="comp:ComplianceDocumentType" fixed="CERTIFICATE OF INSTALLATION"/>
                  <xsd:attribute name="docTitle" type="comp:ComplianceDocumentTitleRes" fixed="Multifamily Central Hot Water System Distribution"/>
                  <xsd:attribute name="docVariantLetter" type="comp:ComplianceDocumentVariant" fixed="b"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Payload" type="comp:Payload"/>
            <xsd:element name="DocumentData">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Header" type="comp:HeaderCF2R_3R" />
                     <xsd:element ref="cF2RPLB01bE" />
                     <xsd:element name="DocAuthor" type="comp:DocumentAuthor" />
                     <xsd:element name="RespPerson" type="comp:ResponsiblePersonCF2R_E" />
                     <xsd:element name="Footer" type="comp:Footer" />
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Report" type="xsd:base64Binary"/>
         </xsd:sequence>
         <xsd:attribute name="revision" use="required" type="xsd:string" fixed="rev 20200901"/>
         <xsd:attribute name="doc" use="required" type="comp:ComplianceDocumentTag" fixed="CF2RPLB01bE"/>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="CF2RPLB01bE">
      <xsd:annotation>
         <xsd:documentation>Multifamily Central Hot Water System Distribution</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="Section_A" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">General Information</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="A01_BuildingName" type="com:BuildingName" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Building Name</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_B" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Design Central Water Heater System Information</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">Require one row of data for each water heater identified on the CF1R</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="B_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">This table reports the water heating systems specified on the registered CF1R compliance document for this project.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableDesignWaterHeater" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="B01_WaterHeatingSystemName" type="hvac:WaterHeatingSystemName" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Water Heating System ID or Name</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference values from CF1R.</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="B02_HeatPumpWaterHeaterBrand" type="hvac:HeatPumpWaterHeaterBrand" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Modeled Equipment Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If  prescriptive CF1R
default value = Sanden stored in HeatPumpWaterHeaterBrand
End If</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="B02_HeatPumpWaterHeaterModel" type="hvac:HeatPumpWaterHeaterModel" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Modeled Equipment Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If performance CF1R reference value from CF1R-PRF-01 and store in HeatPumpWaterHeaterModel
End If</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:element name="B03_CompressorCountCHPWH" type="hvac:CompressorCountCHPWH" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Number of Water Heaters/ Compressors</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference values from CF1R</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="B04_TankLocation" type="hvac:TankLocation" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Primary Tank Location</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference values from CF1R.</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="B05_StorageCapacity" type="hvac:StorageCapacity" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Primary Tank Volume</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference values from CF1R which may be NA.</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="B05_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Primary Tank Volume</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference values from CF1R which may be NA.</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="B06_PrimaryTankTotalInsulation" type="hvac:PrimaryTankTotalInsulation" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Primary Tank Total Insulation</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference values from CF1R which may be NA.</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="B06_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Primary Tank Total Insulation</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference values from CF1R which may be NA.</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="B07_TankLocation" type="hvac:TankLocation" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Loop Tank Location</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference values from CF1R</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="B07_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Loop Tank Location</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference values from CF1R which may be NA</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="B08_LoopTankCapacity" type="hvac:LoopTankCapacity" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Loop Tank Volume</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference values from CF1R which may be NA.</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="B08_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Loop Tank Volume</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference values from CF1R.</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="B09_LoopTankTotalInsulation" type="hvac:LoopTankTotalInsulation" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Loop Tank Total Insulation</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference values from CF1R which may be NA.</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="B09_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Loop Tank Total Insulation</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference values from CF1R.</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="B10_PipeInsulationThickness" type="hvac:PipeInsulationThickness" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Loop Pipe Insulation Thickness</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference values from CF1R which may be NA.</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="B10_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Loop Pipe Insulation Thickness</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference values from CF1R.</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="B11_LoopTankType" type="hvac:LoopTankType" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Loop Tank Type</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference values from CF1R</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="B11_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Loop Tank Type</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference values from CF1R which may be NA</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:element name="B12_HeatPumpWaterHeaterSimulationGroup" type="hvac:HeatPumpWaterHeaterSimulationGroup"  minOccurs="0">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Simulated Equipment Make and Model</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">If prescriptive, this field is not required; Else If performance reference values from XML   This field IS NOT part of the printed report and is not displayed to the user.  It is used for equivalency lookup</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_C" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Installed Central Water Heater System Information</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">Require one row of data for each water heater identified on the CF1R</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="C_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">This table reports the water heating systems specified on the registered CF1R compliance document for this project.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableInstalledWaterHeater" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="C01_WaterHeatingSystemName" type="hvac:WaterHeatingSystemName" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Water Heating System ID or Name</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference value from B01</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="C02_HeatPumpWaterHeaterBrand" type="hvac:HeatPumpWaterHeaterBrand" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Modeled Equipment Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If Prescriptive CF1R
result = Sanden stored in HeatPumpWaterHeaterBrand
End If</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_HeatPumpWaterHeaterModel" type="hvac:HeatPumpWaterHeaterModel" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Modeled Equipment Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If Performance CF1R reference value from B02_HeatPumpWaterHeaterModel as default
If user does not override it, store it in HeatPumpWaterHeaterModel  
Else If user chooses to override default, allow selection of an equivalent system based on the simluated equipment selected in B12_HeatPumpWaterHeaterSimulationGroup
End If</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_NyleC25A_SP" type="hvac:NyleC25A_SP" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Modeled Equipment Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If B12_HeatPumpWaterHeaterSimulationGroup == NyleC25A_SP
user is allowed to override default and select from this simulation group 
End If</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_NyleC60A_SP" type="hvac:NyleC60A_SP" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Modeled Equipment Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If B12_HeatPumpWaterHeaterSimulationGroup == NyleC60A_SP
user is allowed to override default and select from this simulation group 
End If</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_NyleC90A_SP" type="hvac:NyleC90A_SP" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Modeled Equipment Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If B12_HeatPumpWaterHeaterSimulationGroup == NyleC90A_SP
user is allowed to override default and select from this simulation group 
End If</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_NyleC125A_SP" type="hvac:NyleC125A_SP" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Modeled Equipment Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If B12_HeatPumpWaterHeaterSimulationGroup == NyleC125A_SP
user is allowed to override default and select from this simulation group 
End If</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_NyleC185A_SP" type="hvac:NyleC185A_SP" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Modeled Equipment Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If B12_HeatPumpWaterHeaterSimulationGroup == NyleC185A_SP
user is allowed to override default and select from this simulation group 
End If</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_NyleC250A_SP" type="hvac:NyleC250A_SP" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Modeled Equipment Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If B12_HeatPumpWaterHeaterSimulationGroup == NyleC250A_SP
user is allowed to override default and select from this simulation group 
End If</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_NyleC60A_CWP_SP" type="hvac:NyleC60A_CWP_SP" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Modeled Equipment Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If B12_HeatPumpWaterHeaterSimulationGroup == NyleC60A_CWP_SP
user is allowed to override default and select from this simulation group 
End If</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_NyleC90A_CWP_SP" type="hvac:NyleC90A_CWP_SP" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Modeled Equipment Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If B12_HeatPumpWaterHeaterSimulationGroup == NyleC90A_CWP_SP
user is allowed to override default and select from this simulation group 
End If</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_NyleC125A_CWP_SP" type="hvac:NyleC125A_CWP_SP" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Modeled Equipment Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If B12_HeatPumpWaterHeaterSimulationGroup == NyleC125A_CWP_SP
user is allowed to override default and select from this simulation group 
End If</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_NyleC185A_CWP_SP" type="hvac:NyleC185A_CWP_SP" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Modeled Equipment Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If B12_HeatPumpWaterHeaterSimulationGroup == NyleC185A_CWP_SP
user is allowed to override default and select from this simulation group 
End If</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_NyleC250A_CWP_SP" type="hvac:NyleC250A_CWP_SP" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Modeled Equipment Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If B12_HeatPumpWaterHeaterSimulationGroup == NyleC250A_CWP_SP
user is allowed to override default and select from this simulation group 
End If</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_Generic5kW" type="hvac:Generic5kW" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Modeled Equipment Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If B12_HeatPumpWaterHeaterSimulationGroup == Generic5kW
user is allowed to override default and select from this simulation group 
End If</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_Generic11kW" type="hvac:Generic11kW" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Modeled Equipment Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If B12_HeatPumpWaterHeaterSimulationGroup == Generic11kW
user is allowed to override default and select from this simulation group 
End If</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_Generic20kW" type="hvac:Generic20kW" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Modeled Equipment Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If B12_HeatPumpWaterHeaterSimulationGroup == Generic20kW
user is allowed to override default and select from this simulation group 
End If</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_Generic26kW" type="hvac:Generic26kW" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Modeled Equipment Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If B12_HeatPumpWaterHeaterSimulationGroup == Generic26kW
user is allowed to override default and select from this simulation group 
End If</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_Generic40kW" type="hvac:Generic40kW" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Modeled Equipment Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If B12_HeatPumpWaterHeaterSimulationGroup == Generic40kW
user is allowed to override default and select from this simulation group 
End If</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_Generic45kW" type="hvac:Generic45kW" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Modeled Equipment Make and Model</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If B12_HeatPumpWaterHeaterSimulationGroup == Generic45kW
user is allowed to override default and select from this simulation group 
End If</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:element name="C03_CompressorCountCHPWH" type="hvac:CompressorCountCHPWH" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Number of Water Heaters/ Compressors</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input;  Check that result == B03 value</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="C04_TankLocation" type="hvac:TankLocation" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Primary Tank Location</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference values from B04_TankLocation</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="C05_StorageCapacity" type="hvac:StorageCapacity" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Primary Tank Volume</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input; If B05_StorageCapacity IsPresent, result must be GTE to B05_StorageCapacity</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C05_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Primary Tank Volume</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference values from B05_NotApplicableMessage if present</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="C06_PrimaryTankTotalInsulation" type="hvac:PrimaryTankTotalInsulation" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Primary Tank Total Insulation</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input; If B06_PrimaryTankTotalInsulation IsPresent, result must be GTE to B06_PrimaryTankTotalInsulation</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C06_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Primary Tank Total Insulation</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference values from B06_NotApplicableMessage if present</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="C07_TankLocation" type="hvac:TankLocation" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Loop Tank Location</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference values from B07</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C07_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Loop Tank Location</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference values from B07 which may be NA</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="C08_LoopTankCapacity" type="hvac:LoopTankCapacity" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Loop Tank Volume</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input; If B08_LoopTankCapacity IsPresent, result must be GTE to B08_LoopTankCapacity</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C08_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Loop Tank Volume</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference values from B08_NotApplicableMessage if present</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="C09_LoopTankTotalInsulation" type="hvac:LoopTankTotalInsulation" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Loop Tank Total Insulation</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input; If B09_LoopTankTotalInsulation IsPresent result must be GTE to B09_LoopTankTotalInsulation</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C09_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Loop Tank Total Insulation</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference values from B09_NotApplicableMessage if present</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="C10_PipeInsulationThickness" type="hvac:PipeInsulationThickness" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Loop Pipe Insulation Thickness</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input; If B10_PipeInsulationThickness IsPresent, result must be GTE to B10_PipeInsulationThickness</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C10_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Loop Pipe Insulation Thickness</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference values from B10_NotApplicableMessage if present</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="C11_LoopTankType" type="hvac:LoopTankType" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Loop Tank Type</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference values from B11</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C11_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Loop Tank Type</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Reference values from B11 which may be NA</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_D" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Design Central Water Heating Distribution Systems Information</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">Require one row of data for each water heating system identified on the CF1R-PRF</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="D_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">This table reports the water heating distribution types specified on the registered CF1R compliance document for this project.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableDesignDistribution" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="D01_WaterHeatingSystemName" type="hvac:WaterHeatingSystemName" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Water Heating System ID or Name</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference values from B01</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="D02_ResidentialDHWCentralDistributionType" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Central DHW System Distribution Type</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference value from CF1R-PRF-01.  Allowed values: RecirculatingTemperatureModulationMF  display term Multi-family: Recirculating with temperature modulation,  RecirculatingContinuousTemperatureModulationMonitoringMF display term Multi-family: Recirculating with temperature modulation and monitoring, RcirculatingDemandControlMF  display term Multi-family: Recirculating demand control, RecirculatingNonDemandContinuousPumpingMF  display term Multi-family: Recirculating with no control (continuous pumping), NoRecirculationPumpNoLoopsMF  display term Multi-family: No loops or recirc. pump</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="hvac:ResidentialDHWCentralDistributionType">
                                             <xsd:enumeration value="NoRecirculationPumpNoLoopsMF"/>
                                             <xsd:enumeration value="RecirculatingContinuousTemperatureModulationMonitoringMF"/>
                                             <xsd:enumeration value="RecirculatingDemandControlMF"/>
                                             <xsd:enumeration value="RecirculatingNonDemandContinuousPumpingMF"/>
                                             <xsd:enumeration value="RecirculatingTemperatureModulationMF"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="D03_ResidentialDHWDwellingUnitDistributionType" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Dwelling Unit DHW System Distribution Type</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Result =  StandardDistribution display term Standard distribution system,</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="hvac:ResidentialDHWDwellingUnitDistributionType">
                                             <xsd:enumeration value="StandardDistribution"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_E" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Installed Central Water Heating Distribution Systems Information</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">Require one row of data for each water heating system identified on the CF1R-PRF</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="E_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">This table reports the water heating distribution types specified on the registered CF1R compliance document for this project.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableInstalledDistribution" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="E01_WaterHeatingSystemName" type="hvac:WaterHeatingSystemName" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Water Heating System ID or Name</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference values from B01</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="E02_ResidentialDHWCentralDistributionType" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Central DHW System Distribution Type</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference value from D02</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="hvac:ResidentialDHWCentralDistributionType">
                                             <xsd:enumeration value="NoRecirculationPumpNoLoopsMF"/>
                                             <xsd:enumeration value="RecirculatingContinuousTemperatureModulationMonitoringMF"/>
                                             <xsd:enumeration value="RecirculatingDemandControlMF"/>
                                             <xsd:enumeration value="RecirculatingNonDemandContinuousPumpingMF"/>
                                             <xsd:enumeration value="RecirculatingTemperatureModulationMF"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="E03_ResidentialDHWDwellingUnitDistributionType" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Dwelling Unit DHW System Distribution Type</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference value from D03</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="hvac:ResidentialDHWDwellingUnitDistributionType">
                                             <xsd:enumeration value="StandardDistribution"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_F" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Mandatory Requirements For All Central Domestic Hot Water Systems</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="F01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">On systems that have a total capacity greater than 167,000 Btu/hr, outlets that require higher than service water temperatures as listed in the ASHRAE Handbook have separate remote heaters, heat exchangers, or boosters to supply the outlet with the higher temperature.  (Section 110.3 (c)1)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Systems with circulating pumps or with electrical heat trace systems shall be capable of automatically turning off the system.  (Section 110.3(c)2).</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F03" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Unfired storage tanks are insulated with an external R-12 or combination of R-16 internal and external Insulation.(Section 110.3(c)4).</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F04" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Recirculation loop shall meet the following requirements:  [d:l t="*"][d:list]The recirculation pump is mounted on a vertical section of the return line, OR an automatic air release valve is installed on a riser at least 12 inches in length, on the inlet side of the recirculation pump, no more than 4 feet from the pump. (Section 110.3(c)4A). [/d:list] [d:list] A check valve is located between the recirculation pump and the water heater. (Section 110.3(c)4B).[/d:list] [d:list] A hose bibb is installed between the pump and the water heating equipment with an isolation valve between the hose bibb and the water heating equipment.  (Section 110.3(c)4C). [/d:list] [d:list]Isolation valves are installed on both sides of the pump of which te valve required in (Section 110.3(c)4C can be one.  (Section 110.3(c)4D).[/d:list] [d:list] The cold water supply piping and the recirculation loop piping is not connected to the hot water storage tank drain port.  (Section 110.3(c)4E). [/d:list][d:list] A check valve is installed on the cold water supply line between the hot water system and the next closest tee on the cold water supply.  (Section 110.3(c)4F).   [/d:list][/d:l]</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F05" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Instantaneous water heaters with an input greater than 6.8 kBtu/hr. (2kW) shall have isolation valves at both the cold water supply and the hot water line (110.3(c)6).</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F06" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">All domestic hot water piping shall be insulated as specified in Section 609.11 of the California Plumbing Code.  In addition, the following piping conditions shall have a minimum insulation wall thickness of 1 inch or a minimum of insulation R-value of 7.7 (RA4.4.1) [d:l t="*"][d:list] The first 5 feet (1.5 meters) of hot and cold water pipes from the storage tank. [/d:list] [d:list] All piping with a nominal diameter of 3/4 inch (19 millimeter) and less than 1 inch. [/d:list] [d:list] All hot water pipes from the heating source to the kitchen fixtures. [/d:list] [d:list] Piping from the heating source to storage tank of between tanks. [/d:list] [d:list]  All piping associated with a recirculation system [/d:list] [d:list] All underground piping.  [/d:list] [/d:l] [d:line1/]   [d:l t="*"] [d:list] Insulation buried below grade must be installed in a waterproof and non-crushable casing or sleeve.[/d:list] [d:list] Piping that penetrates framing members shall not be required to have pipe insulation for the distance of the framing penetration.   Metal piping that penetrates metal framing shall use grommets, plugs, wrapping or other insulating material to assure that no contact is made with the metal framing. Insulation shall butt securely against all framing members.   [/d:list] [d:list] Piping installed in interior or exterior walls that is surrounded on all sides by at least 1 inch (2.5cm) of insulation. [/d:list] [d:list] Piping installed in crawlspace with a minimum of 1 inch (2.5cm) of crawlspace insulation above and below. [/d:list] [d:list] Piping installed in attics with a minimum of 4 inches (10 cm) of attic insulation on top. [/d:list] [d:list] Pipe insulation shall fit tightly and all elbows and tees shall be fully insulated. [/d:list] [/d:l]</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="FEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_G" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Multiple Dwelling Units - Recirculation Temperature Modulation Control Requirements (RA4.4.11)</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is applicable if at least one system in section D has D02_ResidentialDHWCentralDistributionType == RecirculatingTemperatureModulationMF</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="G_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Systems that utilize this distribution type shall comply with these requirements.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Controls have been installed that reduce the hot water supply temperature when hot water demand is determined to be low by the control system. The control system may use a fixed control schedule or dynamic control schedules based measurements of hot water demand.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Daily hot water supply temperature reduction (which is defined as the sum of temperature reduction by the control in each hour within a 24-hour period) shall be more than 50 [d:deg/] F.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="GEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_H" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Multiple Dwelling Units - Recirculation Continuous Monitoring Systems Requirements (RA4.4.12)</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is applicable if at least one system in section D has D02_ResidentialDHWCentralDistributionType == RecirculatingContinuousTemperatureModulationMonitoringMF</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="H_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Systems that utilize this distribution type shall comply with these requirements</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="H01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The water heating system must have a means of communicating with the remote monitoring facility.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="H02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The monitoring system must record no less frequently than hourly measurement of key system operation parameters, including hot water supply and return temperatures, and status of gas valve relays.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="H03" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">A current contract must be available that demonstrates the system will be monitored.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="HEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_I" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Multiple Dwelling Units - Demand Recirculation Requirements (RA4.4.13)</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is applicable if at least one system in section D has D02_ResidentialDHWCentralDistributionType == RecirculatingDemandControlMF</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="I_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Systems that utilize this distribution type shall comply with these requirements</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="I01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The system operates "on-demand", meaning that the pump begins to operate shortly before or immediately after hot water draw begins, and stops when the return water temperature reaches a certain threshold value.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="I02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">After the pump has been activated, the controls shall allow the pump to operate until the water temperature at the thermo-sensor rises to one of the following values: (RA4.4.13) [d:l  t="*"] [d:list]  Not more than 10[d:deg/] F ( 5.6[d:deg/] C ) above the initial temperature of the water in the pipe.[/d:list][d:list] Not more than 102[d:deg/] F (38.9[d:deg/] C). [/d:list][/d:l]</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="I03" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The controls shall limit pump operation to a maximum of 10 minutes following any activation. This is provided in the event that the normal means of shutting off the pump have failed.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="I04" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Pump and control placement shall meet one of the following criteria:  [d:l  t="*"] [d:list] When a dedicated return line has been installed the pump, controls and thermo-sensor are installed at the end of the supply portion of the recirculation loop; or  [/d:list][d:list] The pump and controls are installed on the dedicated return line near the water heater and the thermosensor is installed in an accessible location as close to the end of the supply portion of the recirculation loop as possible, or  [/d:list][d:list]  When the cold water line is used as the return, the pump, demand controls and thermosensor shall be installed in an accessible location at the end of supply portion of the hot water distribution line (typically under a sink).[/d:list][/d:l]</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="I05" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Insulation is not required on the cold water line when it is used as the return.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="I06" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Manual or sensor controls shall be installed and, if powered, each control has standby power of 1 Watt or less.  Controls may be located in individual units or on the loop. Controls may be activated by wired or wireless mechanisms, including buttons, motion sensors, door switches and flow switches.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="IEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_J" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Multiple Dwelling Units -Non-Demand Control Recirculation Systems Requirements</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is applicable if at least one system in section D has D02 ResidentialDHWCentralDistributionType  == RecirculatingNonDemandContinuousPumpingMF)</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="J_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Systems that utilize this distribution type shall comply with these requirements</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="J01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The active control shall be either: timer, temperature, or time and temperature. Timers shall be set to less than 24 hours. The temperature sensor shall be connected to the piping and to the controls for the pump.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="JEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="cF2RPLB01bE" type="CF2RPLB01bE">
      <xsd:annotation>
         <xsd:documentation>This element contains all of the data and text required to generate the CF2RPLB01bE compliance report.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
</xsd:schema>
