deployed/schema/NRCV/NRCVMCH32H.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/NRCVMCH32H" version="2019.1.002" xmlns="http://www.lmonte.com/besm/NRCVMCH32H" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:bld="http://www.lmonte.com/besm/bld" xmlns:com="http://www.lmonte.com/besm/com" xmlns:comp="http://www.lmonte.com/besm/comp" xmlns:d="http://www.lmonte.com/besm/d" xmlns:dtyp="http://www.lmonte.com/besm/dtyp" xmlns:env="http://www.lmonte.com/besm/env" xmlns:hvac="http://www.lmonte.com/besm/hvac" xmlns:lit="http://www.lmonte.com/besm/lit" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   <xsd:element name="ComplianceDocumentPackage">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="DocID" minOccurs="0">
               <xsd:complexType>
                  <xsd:attribute name="doc" type="comp:ComplianceDocumentTag" fixed="NRCVMCH32H"/>
                  <xsd:attribute name="docType" type="comp:ComplianceDocumentType" fixed="CERTIFICATE OF VERIFICATION"/>
                  <xsd:attribute name="docTitle" type="comp:ComplianceDocumentTitleRes" fixed="Local Mechanical Exhaust"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Payload" type="comp:Payload"/>
            <xsd:element name="DocumentData">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Header" type="comp:HeaderCF2R_3R"/>
                     <xsd:element ref="nRCVMCH32H"/>
                     <xsd:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     <xsd:element name="RespPerson" type="comp:ResponsiblePersonNRCV"/>
                     <xsd:element name="Footer" type="comp:Footer"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Report" type="xsd:base64Binary"/>
         </xsd:sequence>
         <xsd:attribute name="revision" use="required" type="xsd:string" fixed="rev 20191201"/>
         <xsd:attribute name="doc" use="required" type="comp:ComplianceDocumentTag" fixed="NRCVMCH32H"/>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="NRCVMCH32H">
      <xsd:annotation>
         <xsd:documentation>Local Mechanical Exhaust</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="Section_A" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Local Mechanical Exhaust - General Information</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="A_BeforeNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Before Section Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Title 24, Part 6, Section 150.0(o) 
                           <d:b>Ventilation for Indoor Air Quality.</d:b> All dwelling units shall meet the requirements of ANSI/ASHRAE Standard 62.2. Ventilation and Acceptable Indoor Air Quality in Low-Rise Residential Buildings subject tothe amendments specified by title 24, Part 6, Section 150.0(o)1.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A01_ResidentialDwellingUnitName" type="com:ResidentialDwellingUnitName">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Dwelling unit name</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A02_ResidentialBuildingTypeMechExhaust" type="com:ResidentialBuildingTypeMechExhaust">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Building Type</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User  selects from list: MultiFamily display term Multifamily, SingleFamilyAttached display term Single family attached, SingleFamilyDetached display term Single family detached</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:choice maxOccurs="1">
                     <xsd:element name="A03_FloorArea" type="com:FloorArea">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Total Kitchen Floor Area</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">User input numeric xx.xx or N/A stored in NotApplicablemessage</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="A03_NotApplicableMessage" type="comp:NotApplicableMessage">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Total Kitchen Floor Area</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">User input numeric xx.xx or N/A stored in NotApplicablemessage</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:choice>
                  <xsd:choice maxOccurs="1">
                     <xsd:element name="A04_FloorToCeilingHeight" type="com:FloorToCeilingHeight">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Kitchen Average Ceiling Height</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">User input numeric xx.xx or N/A stored in NotApplicablemessage</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="A04_NotApplicableMessage" type="comp:NotApplicableMessage">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Kitchen Average Ceiling Height</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">User input numeric xx.xx or N/A stored in NotAppicablemessage</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:choice>
                  <xsd:choice maxOccurs="1">
                     <xsd:element name="A05_Volume" type="com:Volume">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Kitchen Total Conditioned Volume</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">Calculated field:: If A03_NotApplicableMessage Or A04_NotApplicableMessage == N/A result = N/A stored in NotApplicablemessage
Else result = A03_FloorArea * A04_FloorToCeilingHeight</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="A05_NotApplicableMessage" type="comp:NotApplicableMessage">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Kitchen Total Conditioned Volume</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">Calculated field:: If A03_NotApplicableMessage Or A04_NotApplicableMessage == N/A result = N/A stored in NotApplicablemessage
Else result = A03_FloorArea * A04_FloorToCeilingHeight</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:choice>
                  <xsd:element name="A06_EnclosedSpace" type="com:EnclosedSpace">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Kitchen  Type</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects from Enclosed, Boolean value true or Non-Enclosed Boolean false</xsd:documentation>
                        <xsd:appinfo source="displayterm">
                           <dtyp:displayterm value="true">Enclosed</dtyp:displayterm>
                           <dtyp:displayterm value="false">Non-Enclosed</dtyp:displayterm>
                        </xsd:appinfo>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_B" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Kitchen Exhaust Systems</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="TableSystems" minOccurs="0" maxOccurs="1">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="B01_KitchenExhaustSystemName" type="com:KitchenExhaustSystemName">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">System Name</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input text up to 50 characters</xsd:documentation>
                                          <xsd:appinfo source="filenameterm">
                                             <dtyp:filenameterm>2019Table5.html</dtyp:filenameterm>
                                          </xsd:appinfo>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="B02_ManufacturerName" type="com:ManufacturerName">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Manufacturer Name</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input text up to 50 characters</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="B03_KitchenExhaustSystemType" type="com:KitchenExhaustSystemType" maxOccurs="1">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">System Type</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User selects from list: VentedRangeHood display term Vented Range Hood, Downdraft display term Downdraft, Other display term Other,</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="B04_SystemModelNumberHVI" type="comp:SystemModelNumberHVI">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">HVI Directory Listed Model Number</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input text up to 50 characters</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="B05_SystemRatedAirflowHVI" type="comp:SystemRatedAirflowHVI">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">HVI Directory Listed Rated Airflow</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input numeric xxxx.xx</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="B06_SystemSoundRatingHVI" type="comp:SystemSoundRatingHVI">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">HVI Directory Listed Sound Rating</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input numeric xx.xx</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="B07_KitchenExhaustMinimumAirFlow" type="com:KitchenExhaustMinimumAirFlow">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Minimum Airflow (defaults to rated airflow)</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Defaults to B05_SystemRatedAirflowHVI otherwise user input numeric xxx.xx not to exceed B05_SystemRatedAirflowHVI</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="B08_KitchenExhaustOperation" type="com:KitchenExhaustOperation">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Operation Schedule</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User selects from list: ContinuousOperation display term Continuous, DemandControl display term Demand Control</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="B09_MinimumAirflowRateRequired" type="comp:MinimumAirflowRateRequired">
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Required Minimum Ventilation Rate (if demand controlled)</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Calculated field (results are in CFM): Switch (B08_KitchenExhaustOperation) case DemandControl: If B03_KitchenExhaustSystemType  == VentedRangeHood result = 100; Else If  B03_KitchenExhaustSystemType  == Other Or DownDraft Then If A06_Enclosed == true result = Smallest(300, (5 *  A05_SpaceVolume / 60)); Else If A06_Enclosed == false result = 300; case ContinuousOperation: result = N/A stored in NotApplicableMessage display term N/A - See Table C</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="B09_NotApplicableMessage" type="comp:NotApplicableMessage">
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Required Minimum Ventilation Rate (if demand controlled)</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Calculated field (results are in CFM): Switch (B08_KitchenExhaustOperation) case DemandControl: If B03_KitchenExhaustSystemType  == VentedRangeHood result = 100; Else If  B03_KitchenExhaustSystemType  == Other Or DownDraft Then If A06_Enclosed == true result = Smallest(300, (5 *  A05_SpaceVolume / 60)); Else If A06_Enclosed == false result = 300; case ContinuousOperation: result = NotApplicable stored in NotApplicableMessage display term N/A - See Table C</xsd:documentation>
                                             <xsd:appinfo source="displayterm">
                                                <dtyp:displayterm value="N/A">N/A - See Table C</dtyp:displayterm>
                                             </xsd:appinfo>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="B10_KitchenExhaustSoundRating" type="com:KitchenExhaustSoundRating">
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Maximum Sound Rating</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Calculated field:  If B08_KitchenExhaustOperation == ContinuousOperation result = 1Sone Else If B08_KitchenExhaustOperation == DemandControl And B07_SystemRatedAirflowHVI LTE 400 result = 3Sone Else result = N/A stored in NotapplicableMessage</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="B10_NotApplicableMessage" type="comp:NotApplicableMessage">
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Maximum Sound Rating</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Calculated field:  If B08_KitchenExhaustOperation == ContinuousOperation result = 1Sone Else If B08_KitchenExhaustOperation == DemandControl And B07_SystemRatedAirflowHVI LTE 400 result = 3Sone Else result = N/A stored in NotapplicableMessage</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:element name="B11_DoesKitchenExhaustSystemComply" type="comp:DoesKitchenExhaustSystemComply">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Compliance Statement</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Calculated field: Switch ( B08_KitchenExhaustOperation) case DemandControl: If B05_SystemRatedAirflowHVI GTE B09_MinimumAirflowRateRequired  And B06_SystemSoundRatingHVI LTE B10_KitchenExhaustSoundRating Or  B10_NotApplicableMessage == N/A result = true display term Complies Else result = false display term Does Not Comply;  case Continuous:  If B06_SystemSoundRatingHVI LTE B10_KitchenExhaustSoundRating Or  B10_NotApplicableMessage == N/A result = true display term Complies Else result = false display term Does Not Comply;</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_C" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Continuous Kitchen Exhaust</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:choice maxOccurs="1">
                     <xsd:element name="C01_TotalContinuousAirflow" type="comp:TotalContinuousAirflow">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Total Continuous Ventilation Airflow</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">Calculated field:  If no row in Section B has B08_KitchenExhaustOperation == ContinuousOperation result = N/A stored in NotApplicableMessage; Else result = Sum All where B08_KitchenExhaustOperation == ContinuousOperation (B05_SystemRatedAirflowHVI)</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="C01_NotApplicableMessage" type="comp:NotApplicableMessage">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Total Continuous Ventilation Airflow</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">Calculated field:  If no row in Section B has B08_KitchenExhaustOperation == ContinuousOperation result = N/A stored in NotApplicableMessage; Else result = Sum All where B08_KitchenExhaustOperation == ContinuousOperation (B05_SystemRatedAirflowHVI)</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:choice>
                  <xsd:choice maxOccurs="1">
                     <xsd:element name="C02_MinimumContinuousAirflow" type="comp:MinimumContinuousAirflow">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Required Minimum Continuous Ventilation Airflow</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">Calculated field: If C01_NotApplicableMessage == N/A result = N/A stored in NotApplicableMessage; Else result = 5 *  A05_SpaceVolume / 60</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="C02_NotApplicableMessage" type="comp:NotApplicableMessage">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Required Minimum Continuous Ventilation Airflow</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">Calculated field: If C01_NotApplicableMessage == N/A result = N/A stored in NotApplicableMessage; Else result = 5 *  A05_SpaceVolume / 60</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:choice>
                  <xsd:choice maxOccurs="1">
                     <xsd:element name="C03_DoesKitchenExhaustSystemComply" type="comp:DoesKitchenExhaustSystemComply">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Compliance Statement</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">Calculated field: If C01_NotApplicableMessage == N/A result = N/A stored in NotApplicableMessage; Else If C01_TotalContinuousAirflow GTE C02_MinimumContinuousAirflow result = true display term Complies; Else result = false display term Does Not Comply</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="C03_NotApplicableMessage" type="comp:NotApplicableMessage">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Compliance Statement</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">Calculated field: If C01_NotApplicableMessage == N/A result = N/A stored in NotApplicableMessage; Else If C01_TotalContinuousAirflow GTE C02_MinimumContinuousAirflow result = true display term Complies; Else result = false display term Does Not Comply</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:choice>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_D" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Determination of HERS Verification Compliance</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="D_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">All applicable sections of this document shall indicate compliance with the specified verification protocol requirements in order for this Certificate of Verification as a whole to be determined to be in compliance.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="D01_DoesCF3R_Pass" type="comp:DoesCF3R_Pass">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="CalculationsAndRules">If B11_DoesKitchenExhaustSystemComply == true And C03_DoesKitchenExhaustSystemComply == true Or C03_NotApplicableMessage == N/A result = true display term Complies: All specified verification protocol requirements on this document are met.  Else result = false display term: Does not comply: One or more specified verification protocol requirements on this document are not met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="nRCVMCH32H" type="NRCVMCH32H">
      <xsd:annotation>
         <xsd:documentation>This element contains all of the data and text required to generate the NRCVMCH32H compliance report.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
</xsd:schema>
